[2022-05-12 07:57] IanMayo commented on #1522
Thanks @ShendMikullovci,
I'm not convinced that the shadow suggests to the player that something is editable.

How about we display the label and icon in their editable form?  So, the label "field" is shown with an underline plus a cursor, and the icon is shown with a drop-down menu (to allow switching to another icon).  The other fields on the panel are displayed in their "being edited" format -

[2022-05-12 08:05] IanMayo commented on #1539
The triangle/circle/square icon looks great - though we're restricted to the icons in the free `font-awesome` package.

No we don't show the player how long a journey takes between two points. The closest to this is that we show them how far an asset can travel in a turn, according to its speed and the turn length.

The distance measuring tool would be of some modest value,  though no players have

[2022-05-12 12:02] lebaphi opened #1553 "SCSS file changed does not recompile"

[2022-05-13 12:49] #573 closed, assigned to IanMayo

[2022-05-14 08:22] lebaphi commented on #1522
Hi @IanMayo and @ShendMikullovci , do we finalize this feature? 😄

[2022-05-16 08:23] ShendMikullovci commented on #1539
This one is the closest I found on font-awesome:

![Shapes Icon](https://user-images.githubusercontent.com/85491794/168550260-620c305c-2b12-48e7-89dc-13588c09ccfc.png)

[2022-05-16 08:32] ShendMikullovci commented on #1522
Let's give it a go! I'll get on the dropdown design.

Yes, but do we intend for the form to pop up every time the marker is clicked? That's where I suggested we have the form only pop up after the marker is _double clicked_, that way the form only occupies visual space when necessary.
Single clicks = relocation (the marker would highlight but the form wouldn't appear), double clicks = data editing

[2022-05-16 09:27] ShendMikullovci commented on #1522
Here's some ideas on how the drop-down can look:

![Dropdowns](https://user-images.githubusercontent.com/85491794/168561864-98b81a44-e3d8-40b5-ba7a-2d8e0b8cca47.png)

Granted, some of the icons might be self-explanatory and need no label, I thought it could still be valuable. After all, we should reduce as much quantity of information from the user's working memory as possible.

Here's how they wo

[2022-05-16 09:43] IanMayo commented on #1522
Thanks @ShendMikullovci :-)

Yes, names alongside the icons would be useful. I expect @lebaphi will handle this, but for the Label, the underline should span the full width of the control (rather than the width of the current text).

[2022-05-16 09:49] ShendMikullovci commented on #1522
Nicely spotted.

![Info Marker Drop Down Final](https://user-images.githubusercontent.com/85491794/168566419-4d4d6e84-19e4-4d9b-b8c9-66b54243c3fd.png)

[2022-05-16 14:21] ShendMikullovci commented on #1539
Here's an idea:

If we go with the font-awesome icon, this is how it'd look.

![Drawing Feature Base](https://user-images.githubusercontent.com/85491794/168612086-dbfa8a3b-f1bd-421c-9a7a-255ad22fff17.png)

Clicking it would darken the button as the following drop-down appears:

![Drawing Feature Mapping](https://user-images.githubusercontent.com/85491794/168612388-07f8979f-baa4-438e-bd4d-02b0c5a2c

[2022-05-16 16:26] IanMayo opened #1560 "Force Admin page needs to include `controls` - UX"
Sometimes players of one force control assets from another force.

An example of this is when the Game Control is responsible for merchant shipping, or even the red force assets.

This is handled through the `controlledBy` array.

[**Note:** this shouldn't be an array. It should be a single value.  Only one force can control the assets of another force]

So, in the `Force` page we need this data t

[2022-05-17 09:21] IanMayo commented on #1522
I've just realised that we can't edit the color of the marker in this form.

I propose we do this in two phases.

1. Add a new "color" panel, which includes the popup color editor we use in the "Force" admin page.
2. @ShendMikullovci designs a new control that (somehow 😉 ) allows the Game Controller to choose either a force color or one of a palette of colors. Probably a drop-down combo box.

If w

[2022-05-17 09:36] IanMayo commented on #1553
Is this fixed in #1554 @lebaphi ?

[2022-05-17 09:37] IanMayo commented on #1550
Fixed in #1550

[2022-05-17 09:38] IanMayo commented on #1520
Fixed in #1523

[2022-05-17 09:38] #1520 closed, assigned to lilitkarapetyan

[2022-05-17 09:39] IanMayo commented on #1527
Fixed in #1528

[2022-05-17 09:39] #1527 closed, assigned to lilitkarapetyan

[2022-05-17 09:39] #1512 closed, assigned to nobody

[2022-05-17 09:40] IanMayo commented on #1511
Thanks for observing and recording this @ShendMikullovci

But, form design is down to the Game Designer - we don't have any control over it.  In this case, I think they were duplicating the layout of an existing paper form.

[2022-05-17 09:40] #1511 closed, assigned to nobody

[2022-05-17 09:41] IanMayo commented on #1500
One for you, please @lilitkarapetyan

[2022-05-17 09:42] IanMayo commented on #1480
Fixed in #1517

[2022-05-17 09:42] #1480 closed, assigned to lilitkarapetyan

[2022-05-17 09:46] IanMayo commented on #1462
Fixed in #1467

[2022-05-17 09:46] #1462 closed, assigned to nobody

[2022-05-17 09:47] IanMayo commented on #1446
We've dropped cloudant.

[2022-05-17 09:47] #1446 closed, assigned to lilitkarapetyan

[2022-05-17 14:20] lebaphi commented on #1553
Yes, it was fixed @IanMayo 😄

[2022-05-17 14:20] #1553 closed, assigned to nobody

[2022-05-18 13:06] ShendMikullovci commented on #1522
How about a fill icon?

![Fill Icon Black White Background](https://user-images.githubusercontent.com/85491794/169043783-933f9f5e-ed5f-4d7a-a498-db2192029ad8.png)

I thought of putting it on the header of the form next to the icon feature, since that's how we present it in the admin page as well. Here's how it looks:

![Info Marker Fill Feature](https://user-images.githubusercontent.com/85491794/1

[2022-05-18 13:08] IanMayo commented on #1522
Sure, nice design @ShendMikullovci .

I'm _tempted_ to try to include the force-name in the colors.  Sometimes there will be multiple blue forces, each with a different shade of blue.

[2022-05-18 13:09] ShendMikullovci commented on #1522
Thought of it too but assumed you wouldn't want to take up space. I'll add them right away.

[2022-05-18 13:24] ShendMikullovci commented on #1522
There:

![Info Marker Fill Feature 2a](https://user-images.githubusercontent.com/85491794/169048878-8f82df21-4a16-4e91-800b-8471719b9b4f.png)

P.S. I also suggest we add the fill icon underneath the admin pages color editor rectangle. Currently it just looks like a blank rectangle and gives the user no indication on its service.

[2022-05-18 13:40] ShendMikullovci commented on #1560
I'm not sure I understand the request. Would you like to present who controls what asset in the Forces page?

[2022-05-18 13:45] #1550 closed, assigned to lilitkarapetyan

[2022-05-18 14:19] IanMayo commented on #1560
Sure, it's a niche requirement that we probably haven't discussed.

For one large wargame there was a GREEN force. This represented merchant shipping in an ocean.  But, there were no GREEN players.  Instead, the Game Control (umpire) drove those ships.  Instead of making Game Control log in as a green player, each `Force` can have an optional `Controlled By` field. This can (optionally) contain th

[2022-05-19 18:28] IanMayo opened #1562 "Need force indicator other than red/green colors"
I'm viewing a presentation on accessibility.  Apparently 20% of males are red/green color blind.

We use red and green colors frequently for red/green forces.  _Maybe_ we should consider some other visual clue, too.

We use color in these places:
- map icons
- `visible to` in map forms
- "sender force" color strip on messages
- "my force" at bottom-right of screen

We should investigate places whe

[2022-05-23 13:31] ShendMikullovci commented on #1560
Essentially, we want to give the GC an easier access to asset control through the channel page, if I understand correctly?

If so, here's an idea:

![Asset Control Feature](https://user-images.githubusercontent.com/85491794/169829905-813b3b5f-55a8-42a3-b7f9-292766e3a88c.png)

We add a column for the asset control of every force. We give the user the option to select which roles among the force wou

[2022-05-23 14:01] IanMayo commented on #1560
I _was_ expecting the control to go into the `Forces` tab.  So, on the `Green` force page, it would have `Controlled by` with a drop-down value of `Umpire` force.

But yes - you're right.  We _could_ handle it in the `mapping channel` page of the `Channels` tab.

As you've seen the editor currently just allows access restriction to be set:
![image](https://user-images.githubusercontent.com/1108513

[2022-05-23 14:07] IanMayo commented on #1522
I'm re-opening this. We're most of the way there.

But, could you modify it so that we show the picture as well as the name for the icons please @lebaphi ?

[2022-05-23 16:14] ShendMikullovci commented on #1560
I think so.

From the Forces tab perspective, we could get something like this:

![Controlled By feature 2](https://user-images.githubusercontent.com/85491794/169848501-8d86194d-6af2-4c66-9084-fd37999efaee.png)

If multiple members of White Force should be able to control Green, we could also use chips:

![Controlled By feature](https://user-images.githubusercontent.com/85491794/169848643-720b9019

[2022-05-23 16:19] IanMayo commented on #1560
Here is what the current draft implementation looks like:
![image](https://user-images.githubusercontent.com/1108513/169862997-e13ee89d-d4a9-40b4-b281-5c52d2aa3cfb.png)

The Blue role titled `Nort-CO` can control the asset called `NORT` from force `Blue-1 Force`.

Here the `CO` role for `Blue` can control all remaining `Blue` assets.

![image](https://user-images.githubusercontent.com/1108513/1698

[2022-05-23 16:35] ShendMikullovci commented on #1560
Perfect. Looks good for me.
Do we want to provide this option for other games moving forward? If so, then the "Can control other forces" feature in the
Forces --> Roles tab wouldn't be necessary.

[2022-05-23 16:36] IanMayo commented on #1560
Correct, we won't need that role permission.

[2022-05-25 13:29] ShendMikullovci opened #1568 "ID versus FROM"
What is the difference between the ID and From columns?
I noticed that in Papafoxtrot, RFIs and COAs sent by Senior Blue all have different IDs. Is that on purpose?

![ID vs FROM](https://user-images.githubusercontent.com/85491794/170273612-12addc38-ae06-4cbf-aeeb-af8fe24cc37c.png)

![ID vs FROM 2](https://user-images.githubusercontent.com/85491794/170274168-6d2f5502-60ec-4d1c-8574-197c1506c3fb.pn

[2022-05-25 13:52] IanMayo commented on #1568
Sure, each RFI has a unique ID.  They are issued sequentially, per-force.  Note: a message may "evolve" as it gets managed through the collaborative working process, but it's ID will stay the same.

In the game, players refer to "Blue-4" as a way of ensuring they're dealing with the correct message. This is particularly important when several have similar titles.

[2022-05-25 13:57] #1568 closed, assigned to nobody

[2022-05-25 14:15] ShendMikullovci opened #1569 "Collapsible Assets"
We should consider making the assets on the top left panel of the mapping page collapsible by force.
Here's what it could look like:

![Collapsable Assets](https://user-images.githubusercontent.com/85491794/170283689-cfec9b24-f114-42ec-a963-39a22bff8e81.png)

![Collapsable Assets 2](https://user-images.githubusercontent.com/85491794/170283746-6250731f-fcea-419f-a23b-63fd2219c6b4.png)

[2022-05-25 15:04] ShendMikullovci opened #1570 "Feedback on Actions In-Game"
Some of the SERGE actions players are going to have to take are more important than others. Mainly, RFI and COA submissions.
We should consider giving feedback on these actions when they are completed.

For example:

![RFI Submitted](https://user-images.githubusercontent.com/85491794/170293993-8ea20045-6d3f-41ac-aad6-af60b3964a24.png)

The feedback would only appear for 3 seconds.
Usually, these s

[2022-05-26 16:02] IanMayo commented on #224
Fixed in #1555

[2022-05-26 16:02] #224 closed

[2022-05-26 16:19] IanMayo opened #1573 "Display modal warning when data incompatible."
This issue relates to this story:
http://localhost:6611/?path=/story/local-organisms-settingchannels--default

![image](https://user-images.githubusercontent.com/1108513/170529697-608ef257-4da5-48c0-951a-9c12136d9b57.png)

When editing a mapping channel, there are some data constraints.  If the "participant" (row) specifies that it is controlling one or more assets, then we need exactly one row in

[2022-05-26 16:23] IanMayo opened #1574 "Neater display of multiple items in EditableRow"
When editing participants in a mapping channel the list presentation can be difficult to read:

![image](https://user-images.githubusercontent.com/1108513/170530782-8652348f-cf42-4992-8542-bca6da265eea.png)

I think we should add a `presentAsList` boolean prop for `EditableRow`. When it's set, the items should be displayed as an un-ordered list, but without bullets.

[2022-05-27 09:44] IanMayo commented on #1560
Closing. We've implemented per-role control of other force assets.

[2022-05-27 09:44] #1560 closed, assigned to ShendMikullovci

[2022-05-27 09:54] IanMayo commented on #1522
Hello @lilitkarapetyan  - we do still need the admin page to edit the Marker Icons, please:
https://github.com/serge-web/serge/issues/1522#issuecomment-1121109274

Note: since we have an initial, default set of icons, I suggest we declare these in the `default wargame` document for `create new wargame`.  This initial set of values can be seen here:
https://github.com/serge-web/serge/blob/develop/p

[2022-05-27 15:24] #1573 closed, assigned to lebaphi

[2022-05-30 11:20] IanMayo opened #1577 "Build issue on Linux"
Serge won't build on Linux:

[2022-05-30 12:04] #1574 closed, assigned to lebaphi

[2022-05-30 14:56] IanMayo opened #1578 "Packaged executable failing on MS/Macos/Linux"
I've just run `yarn pkg-build` locally.

When I run macos, I get this error:
![image](https://user-images.githubusercontent.com/1108513/171017852-40253dcb-385b-4d28-b50f-4b596fa4668e.png)

But, that looks like it's because I'm running on Arm Macos.  But, when I run use my old PC to run the linux or windows builds on 64-bit, both fail.

I guess we need:
- new build target for `macos/arm64e`
-  test

[2022-05-30 16:03] IanMayo commented on #1531
Now sorted.

[2022-05-30 16:03] #1531 closed, assigned to nobody

[2022-05-31 08:27] IanMayo opened #1579 "UX for mapping constraints"
While it has been hard-coded in the games so far, we need to allow the Game Designer to specify the constraints on the mapping.

These are the fields we require for the mapping:
* **Bounds**: These are the top-left and bottom-right corners of the map to show. It should be two pairs of values, taking - say a number of degrees, with up to two decimal places (e.g. `12.25`)
* **H3 Resolution**: this i

[2022-05-31 11:36] ShendMikullovci opened #1580 "Rename Objectives Tab"
Considering most forces have their color name in the force name, as well as the fact that we color code the forces and show icons, I suggest we rename the tab on the bottom right to Objectives:

![Rename tab to Objectives](https://user-images.githubusercontent.com/85491794/171163999-7aaf2e26-6f87-40a2-a3ff-4bc1ca04c69a.png)

This shouldn't lead to any confusion towards what force the user belongs

[2022-05-31 11:51] IanMayo commented on #1580
For our mock data, forces names tend to focus on the color. But, in real wargames they have taken the names of nations.   A player (particularly an umpire/facilitator) may have multiple Serge tabs open - and will rely on the Force Name label to know if this is the tab for "France" - "Logistics", or "Belgium" - "Logistics".

Even with our dummy data, we can have "Red-1" and "Red-2" forces.  WE need

[2022-05-31 17:31] ShendMikullovci commented on #1579
I'm afraid I'm not sure what all of these controls represent in the game. Could you clarify further please?

I do have an idea on how to present them though. I thought of adapting the "Platform Types" display to minimize space consumption. Since this is mostly about controls relative to proportion, we can use icons that are self-explanatory.
Here's an idea:

![Mapping Constraints](https://user-ima

[2022-05-31 17:38] IanMayo commented on #1579
aah, good point. I did imagine these controls going on the overview tab. But, since they only apply to mapping, they could go in the top half of the mapping channel editor.

For collaborative editing, we have controls at the top of the page - so we would follow that model.

[2022-05-31 18:44] ShendMikullovci opened #1582 "Composite Markers"
Me and Ian noticed that when there are multiple markers in the same cell, they stack up on top of each other, and the ones below get no visibility. Unfortunately I can't post a screenshot here, since I only have access to the old version of the game, but basically we thought of introducing a composite marker in the shape of a black (dark grey?) square with the number of the markers in the cell dis

[2022-05-31 18:49] ShendMikullovci commented on #1579
It does look better:

![Mapping Constraints](https://user-images.githubusercontent.com/85491794/171262774-929c426d-5790-4e60-998f-4e6aa1488a62.png)

Could you explain these please?:

- H3 Resolution: this is the hex cell grid size to use for the [H3 grid](https://h3geo.org/docs/core-library/restable/) (integer, from 1 to 10)

- Tile Layer: URL of path to where backdrop tile images may be found

-

[2022-06-01 09:26] IanMayo commented on #1579
The Game Designer chooses the size of hexagonal cell for the game.  This will be decided on the level of detail for the game.  In a past wargame they were 36 mile (50km?) cells, with each turn taking one week.  In another game they were 8km cells, with each turn taking 30 minutes. In the next game they may be 1km cells, with a 5 minute time step.  These are all decisions for the Game Designer.  Hm

[2022-06-01 09:34] IanMayo opened #1583 "Data refactor for Mapping Constraints"
My intention had been to store the Mapping Constraints within the Wargame Overview:
![image](https://user-images.githubusercontent.com/1108513/171374070-8f56885e-1384-4a7d-988f-439ca45f22cf.png)

But, @ShendMikullovci came up with the great idea of storing it within the metadata for the `Mapping` channel. So, the Game Designer only has to provide it if there actually is a mapping channel.

[2022-06-01 15:07] IanMayo commented on #1579
Here are the types of control I think we need:

* **Bounds**: 4 text boxes, in two pairs.  Will allow for 5-6 digits  (e.g. `12.25`)
* **H3 Resolution**: text box, with up/down buttons, 1 to 12
* **minZoom**: text box, with up/down buttons, 1 to 12
* **maxZoom**: text box, with up/down buttons, 1 to 12
* **maxNativeZoom**: text box, with up/down buttons, 1 to 12
* **Tile Layer**: text box
* **grid

[2022-06-01 15:40] IanMayo opened #1586 "Game Control can't change perception"
I'm logged in a Game Control, in adjudication.

In the `Visibility` tab, when I select an asset, it should open the `Perception` form.  It doesn't.

![screencast](https://i.gyazo.com/bfc47147191a60070760a72dd15ed429.gif)

[2022-06-01 16:16] IanMayo opened #1587 "Force Laydown for both Umpire & Players"
When designing a game, if the Game Designer adds any assets, their initial locations need to be set.  This _could_ be implemented by the Game Designer entering the (horrible) hex coord.  But, it's easier to create the assets, and then arrange them via drag/drop within the game itself (before game initiated).

![image](https://user-images.githubusercontent.com/1108513/172350076-546a7326-6ee8-41b8-b

[2022-06-01 21:06] ShendMikullovci commented on #1579
Here's an idea:

![Mapping Constraints](https://user-images.githubusercontent.com/85491794/171499705-4a99435c-7f57-450f-9c42-69e6ab7850ad.png)

- Bounds: Four corner icons on the left. All on the same cloud. Text boxes next to each.
- H3: Hexagon icon, next to a text box with Up/Down buttons for the values.
- Zooms: Empty Spyglass is Max Native, Plus Spyglass (Zoom In) is Max Zoom, Minus Spyglass

[2022-06-06 14:32] #1583 closed, assigned to IanMayo

[2022-06-06 15:57] IanMayo commented on #1579
Thanks for that work @ShendMikullovci .

For the top-left and bottom-right coordinates, they are naturally grouped into top-left / bottom-right pairs of latitude/longitude text boxes.   My guess is that we could represent this in a grid layout.  The rows start with the top-left and bottom-right icons you found.  Above the columns would be  icons (or text-labels) for latitude and longitude:
[code]

[2022-06-07 13:02] IanMayo opened #1589 "Can't always SAVE asset name changes"
I'm playing around with the `Forces` page in `develop` branch.

On most occasions, changing an asset name does not get stored in the database.  It keeps the old name.

My _guess_ is that `setSelectedItem` isn't looking at the "real" object, but is looking at a `copy`.

![screencast](https://i.gyazo.com/d82f1fdf0d80fb2d3b62721b4bf5da14.gif)

[2022-06-08 13:26] IanMayo opened #1592 "Windows & Linux executables failing"
I've run `yarn pkg-build` on the `develop` branch.  I then copied the Windows executable to a `Windows 11` Virtual machine.

When I run the executable from `Windows Explorer` it silently fails.

When I run it from Command Prompt, it fails with this error:
![image](https://user-images.githubusercontent.com/1108513/172627836-c488a566-1613-4335-94d0-bbf6bd9a04e8.png)

The users are planning on runnin

[2022-06-08 14:06] #1586 closed, assigned to IanMayo

[2022-06-12 17:20] ShendMikullovci commented on #1579
Thanks for the feedback.

The reasoning behind the icons was to limit space consumption. Here's one with the icons and respective title labels.

![Mapping Constraints](https://user-images.githubusercontent.com/85491794/173245187-ce8ea901-3b02-4e43-bede-9bdafbb926af.png)

Here, the user would be forced to scroll down for Participants and Messages.

[2022-06-12 17:46] ShendMikullovci commented on #1587
I think adding another icon for pending icons may be a little too much. We've already got a loaded screen including assets, markers (both singular and composites), buttons/features.

I have two ideas:

1. Pending assets are shown in their same icon and color, except slightly grayed and in reduced opacity (approx. 50%). The transparency should emphasize its ephemeral state, as we've been conditione

[2022-06-13 09:06] IanMayo commented on #1592
Here's a recording of the issue on MS-Windows:
![screencast](https://i.gyazo.com/4f9b6365964da0742c1bdf8d8a8d7dc3.gif)

[2022-06-13 16:09] IanMayo commented on #1592
Ok, @lebaphi resolved it:

Phi can produce `sqlite3.node` files for `macos` and `linux`, and hopefully @lilitkarapetyan will produce one for `windows`.

@lebaphi - if you zip up the `.node` files and attach them to this issue, then @lilitkarapetyan  can include them in a PR.

[2022-06-13 16:15] IanMayo commented on #1587
Thanks for that @ShendMikullovci

There is an example of blinking images here: http://jsfiddle.net/rameezrami/27754r4f/1/

The above example uses an animated blinking - so they remain visible for most of the time.

[2022-06-14 03:25] lebaphi commented on #1592
@IanMayo I just have the file for Macos, I think @lilitkarapetyan has files for windows and linux 👍

[node_sqlite3.node_macos.zip](https://github.com/serge-web/serge/files/8896112/node_sqlite3.node_macos.zip)

[2022-06-14 09:17] IanMayo commented on #1592
Thanks @lebaphi - I'm just finishing the linux version.  I'll pass it to @lilitkarapetyan  in her Pull Request.

[2022-06-14 21:49] ShendMikullovci opened #1596 "Mapping Intro Issues"
Testing out the downloadable version. Found these issues in the mapping intro.

1. Mapping Intro 2nd Step: Highlight the control tab as well as the orders panel. Also, it doesn't mention "Orders" anywhere.
Why is it called orders?

![Control Tab Bug](https://user-images.githubusercontent.com/85491794/173694707-b87d7c77-5ee2-4d68-9aa6-88e535f08001.png)

2. Add a "Markers" Step to the Mapping Intro.

[2022-06-14 21:51] ShendMikullovci commented on #1596
I also thought of having the top left panel sift through the tabs as the intro proceeds, to show the contents of each. For example, we show Controls in step 2 alongside the orders panel. Then we would show the Visibility tab alongside the Visibility panel containing the visible assets. Finally, we'd do the same for the markers tab.

[2022-06-14 21:55] ShendMikullovci opened #1597 "Unresponsive Asset Info Panel"
Bottom left panel only appears after assets are clicked upon in the Visibility tab when freshly logged into the game.
After that first click in the Visibility tab, the bottom left panel appears after assets are also clicked upon on the map.

https://user-images.githubusercontent.com/85491794/173695824-9b2414cf-4181-4b2f-8b7e-7c1bab6b4074.mp4

[2022-06-14 22:01] ShendMikullovci opened #1598 "Notification Counter Responsive to Own Messages in General Chat"
I think it'd be best if the notification counter only responded to others messages to reduce cognitive load on users.
It feels redundant and counter-intuitive to have notifications for your own messages.

https://user-images.githubusercontent.com/85491794/173696283-cb8f56b3-ce66-45b0-9abd-2c1c692a5df3.mp4

Side-note: I noticed that hitting enter sends you to a new line instead of sending the messa

[2022-06-14 22:14] ShendMikullovci commented on #1598
Same for RFIs, COAs and other messages I suppose.

[2022-06-14 22:20] ShendMikullovci opened #1599 "Channel Intro Issues"
1. Step 1: The step refers to channels as "the game channels in the left" but they occupy a very central part of the screen, and I fear the dimming of the right hand side is not quite intuitive. I'd say we call it the center of the screen.

![Center Screen](https://user-images.githubusercontent.com/85491794/173698888-fce7c409-5859-4bcd-8c27-bfd5ff49e64c.png)

2. Did we want to include animation fo

[2022-06-14 22:25] ShendMikullovci opened #1600 "Start Next Phase Button"
We should center the "Start Next Phase" button in the right hand panel. Also, capitalize the initials of "Planning Phase" and have the text centered to the button for emphasis

![Start Next Phase](https://user-images.githubusercontent.com/85491794/173699261-b79f9314-f380-4d19-b594-c448d495415a.png)

Furthermore, the button blends in too much with the panel color. I suggest we remove the navy blue

[2022-06-14 22:26] ShendMikullovci opened #1601 "Objectives Tab X"
Objectives tab should either have an X at the top right corner or be collapsible when the user clicks outside of it. Preferably both.

![Objectives Tab](https://user-images.githubusercontent.com/85491794/173699602-9a859c4d-069d-409e-88d6-2cb95701293f.png)

[2022-06-14 22:28] ShendMikullovci opened #1602 "Force Icons & Names"
![Force Icons](https://user-images.githubusercontent.com/85491794/173699790-c81c9aeb-3674-420c-aff2-a6ed4186873e.png)

Force icons under the channel tabs should show the name of the Force once hovered upon.
What is their purpose in that position?

[2022-06-15 14:25] IanMayo commented on #1290
Task complete.

[2022-06-15 14:25] #1290 closed, assigned to rnllv

[2022-06-16 09:17] IanMayo opened #1603 "Unable to change Welcome Image"
From the `Welcome` tab of the admin pages, the Game Designer can change the welcome image logo:
![image](https://user-images.githubusercontent.com/1108513/174037264-cdf864d4-e305-4f75-9533-64cb6f1b963c.png)

When I try to add an SVG or PNG image, I get this error in the node console:
![image](https://user-images.githubusercontent.com/1108513/174037059-4c56af85-1762-41e1-8686-951dafd85fb8.png)

[2022-06-16 09:19] IanMayo commented on #1598
Yes, wise decision.

[2022-06-17 13:37] IanMayo opened #1606 "Chat channel - display of new messages"
Issue:  in a chat channel, the messages are displayed in reverse chronological order (newest at the top).

But, as we display new messages, they are shown at the bottom of the channel.  They should be shown at the top of the channel.

See later parts of this video: https://i.gyazo.com/2ae01bd0e05e1f2bc395d98b899cfe24.mp4

[2022-06-17 14:15] #1603 closed, assigned to lebaphi

[2022-06-17 15:09] IanMayo commented on #1382
@lilitkarapetyan - this either hasn't been fixed, or has come back :-(

[2022-06-17 15:46] #1592 closed, assigned to lilitkarapetyan

[2022-06-17 16:24] #1606 closed, assigned to lilitkarapetyan

[2022-06-19 17:01] ShendMikullovci opened #1609 "Main Menu / Quit Button"
We currently don't have a "Quit" or "Go to Main Menu" button. On my end, I needed it to switch between war-games to test features and I was wondering if it could be a valuable addition to the game for the client?
I've noticed that sometimes, hitting X and restarting the game brings you back to where you left off and other times, it forgets. By implementing a "Quit" or "Main Menu" button, we could

[2022-06-20 15:05] IanMayo opened #1613 "Handle corrupted SQLite files"
some SQLite databases have been corrupted.  An example of this is `wargame-koiquada.sqlite`.  When it is opened in `DB Browser for SQLite` it contains just one table: `sqlite_sequence`.

This table is empty. The other 6 tables used by PouchDb are missing.  But. the database file still has a substantial size: 212Kb.  That is larger than other substantial databases, such as `wargame-kzod28lc.sqlite`

[2022-06-20 16:23] IanMayo commented on #1609
Yes @ShendMikullovci - once we have the "restart wargame" functionality, we will want players to return to the Player Welcome page.

But the UI "affordance" for the home button isn't obvious. Here is our screen:
![image](https://user-images.githubusercontent.com/1108513/174643852-ab86cbbf-db4d-4849-9d5a-9cb79ae13394.png)

I can think of these possibilities:
1. A new (home) icon that goes at the to

[2022-06-20 20:56] ShendMikullovci commented on #1609
Here's two different variants:

![Home Page Button Top Right](https://user-images.githubusercontent.com/85491794/174675815-b07e176f-4394-4428-9be3-02d57a650475.png)

Intuitive icon with an intuitive location. The only "problem" here is that a Home button is not necessarily a Quit/Restart button.

![Quit Button](https://user-images.githubusercontent.com/85491794/174676079-e2ee1e02-292d-45ea-b4e6-c2

[2022-06-20 21:00] ShendMikullovci opened #1615 "Blue Screen in Admin Page on Channels Tab"
The downloaded version of the game that I'm currently working with, crashes when I click on the "Channels" tab in the Admin Page.

https://user-images.githubusercontent.com/85491794/174677091-74c79331-5ec8-48d0-abd0-50113792f30b.mp4

[2022-06-20 21:06] ShendMikullovci opened #1616 "Editable vs Non-Editable Attributes"
Attributes in the Admin Page can be editable by players or not editable thanks to the toggle feature we've added.
However, I noticed that in the Forces --> Assets tab, if an attribute has been made non-editable by players, the GC can't edit it either:

https://user-images.githubusercontent.com/85491794/174677398-00555ad7-f69a-471c-98bc-4b3e3e436160.mp4

GC should be able to edit the attributes in

[2022-06-20 21:09] ShendMikullovci opened #1617 "Attribute Editing to be Updated Across Tabs"
Editing attributes in the Forces --> Assets tab, should automatically update the attributes in the Platform Types page. Currently, this isn't the case:

https://user-images.githubusercontent.com/85491794/174677820-2dfa9d5c-0670-4807-995c-f2364d74a8c2.mp4

If we are to keep this versatility on editing the attributes (which I'm pro of), the attribute edited on one tab, should be updated on the other

[2022-06-20 21:10] ShendMikullovci opened #1618 "Attribute Features out of Alignment"
In the downloadable version, the features of the attribute box seem to have left alignment with their respective text boxes/toggles:

![Attribute out of alignment](https://user-images.githubusercontent.com/85491794/174678068-794a229f-a56f-4991-b688-4f65cd132e3f.png)

It'd be nice if we could realign them.

[2022-06-20 21:12] ShendMikullovci opened #1619 "Force Icon Covering the Force Label"
In the downloadable version, the Force Icon in the bottom right seems to be covering the Force Label. This hasn't happened before (on the online version):

![Force Icon Covers the Force Label in the General Chat](https://user-images.githubusercontent.com/85491794/174678280-d4f87e10-ef30-4378-b290-0aa7bf7d37a7.png)

Also, I was curious to know why this Force Icon in particular appeared, when I didn

[2022-06-20 21:17] ShendMikullovci commented on #1615
Refer to #1433 for other encounters of the Blue Screen.

[2022-06-20 21:18] ShendMikullovci commented on #1609
Can you remind me which issue this functionality was again?

[2022-06-21 08:40] ShendMikullovci commented on #1587
Just ran a test on this. Here's how it could look:

https://user-images.githubusercontent.com/85491794/174756305-9d769227-d372-4e8f-8276-d1b5a373e04f.mp4

Obviously, we can play around with the delay, opacity and other settings. I think this looks promising. Let me know how you feel about it.

[2022-06-21 10:31] IanMayo opened #1622 "Client crash on creation of new channel"
A game is live.

The Game Designer just added a channel, into which he put all forces.  When he clicked on "Save channel", Serge blue-screened.  Other logged in clients also blue-screened.  A refresh cleared the issue.

But, I couldn't reproduce the issue on a development machine. Maybe I wasn't creating a channel with the same constraints.

For further investigation.

[2022-06-21 11:15] IanMayo opened #1623 "Can't export forces"
There are two new issues. they are both  related to 'export' from the admin wargame listing. When I try to export Forces to xlsx, nothing happens, nor are any errors shown on console.  When I try to print exported force, the blue backdrop makes it illegible.

Note: I was unable to reproduce this on a dev machine. It _just worked_.

[2022-06-21 12:43] IanMayo commented on #1622
Was able to reproduce channel.

- Add channel (traditional/normal type)
- Add all forces to channel
- Save channel

This error shown on console:
[code]

Note: the above handle-channel-updates may not match the current `develop` branch, since `develop` now includes the fix to avoid duplicate messages.

[2022-06-21 12:50] IanMayo commented on #1622
Line 317 doesn't relate to an obvious instance of `channel` in the source code.

The `channel` variable in this method is the index value in `allChannels.forEach`.  That suggests that _somehow_ there is an empty channel in the list of channels.  _Maybe_ we need to drop out of the loop if the channel is empty. _Maybe_ we need to understand how/why there is an empty channel in the listing.

So, outp

[2022-06-21 13:09] IanMayo commented on #1622
Have learned some more. The game that was breaking was at "Turn 0 - Adjudication", and contained no messages at all so far.

Once I'd moved forward a single turn to "Turn 1 - Planning Phase", the crash didn't happen.

The issue was not related to messages.  In a game at turn 0, with a single message, the crash still happens.

[2022-06-21 13:17] IanMayo commented on #1622
Ok, steps to reproduce:
- create new wargame
- add a new force "Blue", leave it with default role "CO"
- add a new force "Red", leave it with default role "CO"
- add a new channel "All chat", put white and blue into it
- in player window, login as Blue
- in Admin window, remove Red from channel. Save channel. See blue screen appear

[2022-06-21 13:27] IanMayo commented on #1623
Ok. Have investigated.

The `xlsx` file does export, it's just a few seconds before it appears.  Plus, we're running in MS-Edge, which shows downloads in a different place.  Actually, network download speed seems slow. Maybe that's the delay that makes it look like it hasn't arrived.

Onto the issue about `print force`.   On Chrome on a develop machine, the tabular data is shown against a white ba

[2022-06-21 13:37] IanMayo opened #1624 "Investigate turn stepping"
I've just been playing with a wargame.

It _appears_ that the game follows these steps:
- turn 0 adjudication
- turn 1 planning
- turn 1 adjudication
- turn 2 planning
- turn 2 adjudication

Aaah, actually - that's the correct order.  Well done `Ian`.

[2022-06-21 13:37] IanMayo commented on #1624
Closing. Valid behaviour.

[2022-06-21 13:50] IanMayo opened #1625 "Type troubles in `handle-channel-updates`"
There are a few type issues in `handle-channel-updates`.

Ian should get to the bottom of them.

[2022-06-22 08:26] ShendMikullovci commented on #1622
It crashes for me when I click on the channel tab (#1615), so I can't reproduce this.

[2022-06-22 08:27] IanMayo commented on #1615
Thanks @ShendMikullovci - could you clarify which build version you're using? - via the build date at the bottom left.

[2022-06-22 08:30] ShendMikullovci commented on #1615
V:0.3.02022-04-29 09:58

[2022-06-22 08:31] IanMayo commented on #1615
Ok, there's a much newer Win64 build available for you to use here:
https://github.com/serge-web/serge/releases/tag/20220621b

[2022-06-22 08:36] ShendMikullovci opened #1626 "Blue Screen Triggered on Mapping Channel"
https://user-images.githubusercontent.com/85491794/174982202-e6c34a47-36cd-44b1-a006-a6c2276a6f84.mp4

[2022-06-22 08:42] IanMayo commented on #1626
Great - thanks for spotting that @ShendMikullovci

But, that's still an April 2022 build. It may have been fixed.  I think it's worth only reporting bugs on recent builds - otherwise we may end up re-investigating issues that have been investigated/fixed already.

I know we haven't been giving you easy access to live builds (since Heroku has been down), but the `Releases` page now offers some up-t

[2022-06-22 08:43] IanMayo commented on #1626
I'm closing this, since I've done lots and lots of work on the mapping component since April - and expect this will have been resolved.

[2022-06-22 08:43] #1626 closed, assigned to nobody

[2022-06-22 10:36] IanMayo commented on #1615
Closing this issue, since it's using a build from April 22.

[2022-06-22 10:36] #1615 closed, assigned to nobody

[2022-06-22 11:21] ShendMikullovci opened #1628 "Delete Marker Feature"
This is our current marker editor on the bottom left:

![Map SC](https://user-images.githubusercontent.com/85491794/175015116-a04dfbca-c7ec-4baf-8a3f-e4ef402e5d51.png)

Currently, we do not support a delete feature, where GC can remove the marker from the game entirely.

I suggest we do so by adding a red delete button at the bottom of the editor. 3 options

Option 1:

![Marker Editor Option 1](ht

[2022-06-22 13:32] IanMayo commented on #1609
We don't have the concept of `Quit/Restart` for players.  They can go to the home page, but the current wargame will continue.  If they return to a wargame, it will have moved on without them.  Only the Game Control can stop or restart a game.

Aaah, so being in a game is like watching a broadcast TV channel.  You can turn the channel off, or switch to another channel, but the original channel wil

[2022-06-22 13:34] IanMayo commented on #1628
Hmm, I don't expect the delete button to be used all that frequently.  So, I guess the unobtrusive trash can icon would be acceptable.

IMHO we don't have enough contrast on the `CANCEL` button.  Sometimes the sun is streaming through the office windows, and it's not that easy to read the text on the wall-mounted monitor.

[2022-06-22 13:55] ShendMikullovci commented on #1628
What amazing information to know!

[2022-06-22 14:55] ShendMikullovci commented on #1628
Here's how that would look:

![Marker Editor Option 3](https://user-images.githubusercontent.com/85491794/175060917-22b1970c-f81c-47e0-a334-0c921668ad0a.png)

[2022-06-22 14:58] ShendMikullovci commented on #1628
Also, notice the typo on the cancel button ("canel") in our current display.

[2022-06-23 16:38] ShendMikullovci commented on #1622
Here's me doing the steps in Small Wargame:

https://user-images.githubusercontent.com/85491794/175350374-828f8363-4100-4795-9bd0-b1aabc63bb20.mp4

Doesn't crash. Had to refresh the browser in order for the channel to appear.

[2022-06-23 16:39] ShendMikullovci commented on #1622
Update: Player tab crashed when I deleted the channel in the Admin tab. Cleared up after refreshing.

[2022-06-23 18:56] IanMayo commented on #1622
Hello @ShendMikullovci - I've tested the "edit channel" functionality, and merged the PR.

But, I missed your feedback that something was crashing.

Earlier today it was crashing on update, but I fixed it.

Anyway - I welcome you trying to reproduce your steps on the current `develop` branch.

[2022-06-24 13:04] IanMayo opened #1634 "Only update client for messages/docs from current wargame"
This was a strange one.

At a PC we were logged in as a player in `Game 1`.  In another tab, the Game Designer made some channel changes to `Game 2`.  When we switched back to the player tab, the channels had updated to those for `Game 2`.

So, the client UI should only update the wargame if the new wargame document received is for that specific game.

I _guess_ that if a Serge node instance is ho

[2022-06-24 15:52] ShendMikullovci commented on #1609
Nice analogy. I'll add the home button then.

Yes. What I meant is if there was an actual issue here on our GitHub that's been opened regarding this?

[2022-06-24 16:46] ShendMikullovci opened #1635 "General Chat Redesign"
I thought of redesigning the general chat, since we've encountered multiple issues in implementing new features (main menu button #1609), bugs (#1619), or improving UI for current features (#1580).

Came up with this:

![New General Chat Opened](https://user-images.githubusercontent.com/85491794/175574524-d94d332b-eae4-417f-ad77-7fbb509207d3.png)

The title of the wargame at the top on the right h

[2022-06-24 17:04] ShendMikullovci opened #1636 "Admin Page Redesign"
I've done some touching up on the design of our admin pages. Here's what I've come up with:

![Current Admin Page](https://user-images.githubusercontent.com/85491794/175607779-c1124606-9160-455a-91f5-16cffeb960db.png)

In our current layout, the admin page contains no logo, places too much emphasis on the menu on the left hand side, and when there are more wargames, the user has to scroll down to

[2022-06-24 17:10] ShendMikullovci commented on #1636
For Message Templates:

![Message Templates New](https://user-images.githubusercontent.com/85491794/175611333-6335b70f-b93d-4921-aa2e-b459b7d9fa59.png)

To maintain uniformity and consistency, we keep the navy blue background and display the templates similarly to the wargames (I added the scrollbar to insinuate there are more templates).

Create New Template button in light blue and on top of the

[2022-06-24 17:14] ShendMikullovci commented on #1636
I noticed we don't support the Message Library feature anymore, but I designed these before I realized that:

![Message Library New](https://user-images.githubusercontent.com/85491794/175611038-5a85c393-106e-4ef0-9b27-c4d531bb17b1.png)

![Message Library New 2](https://user-images.githubusercontent.com/85491794/175611062-2d7c2632-fd89-4860-a28c-c13e661ba40b.png)

Same thought-frame as the one behi

[2022-06-24 17:18] ShendMikullovci commented on #1636
As for the Welcome Screen:

![Welcome Screen New](https://user-images.githubusercontent.com/85491794/175610487-b3d8e833-c9f8-4986-bd6a-6d78a461926d.png)

Centered controls and text, with a smoother look. The icon occupies less space here and emphasis is put on the title and description. Finally, the save button goes at the bottom next to a cancel button instead of being on the top right.

[2022-06-24 17:29] ShendMikullovci commented on #1636
Finally, the landing page to the Admin Page itself:

![Enter Admin Page](https://user-images.githubusercontent.com/85491794/175612112-a4f82afb-ed99-4f6f-96d9-1178f443fb7d.png)

Centered elements. We would switch from "Set Wargame" to "Select Wargame" since that is a more accurate description of the action realized in this page. The enter button in light blue, centered to the other elements of the

[2022-06-26 10:56] ShendMikullovci commented on #1622
Here's me repeating these steps:

https://user-images.githubusercontent.com/85491794/175810889-37c3aba2-d3d6-4184-b193-f22126b5b4d8.mp4

Notice how I encounter problems adding Forces to the Channels in the Channel Tab (original issue #1414).

Otherwise, the page doesn't seem to be crashing. The Force only disappears once the Channel has been saved in the Admin Page (which is good).
One weird littl

[2022-06-26 12:01] ShendMikullovci commented on #1597
Has been fixed in the new version.

[2022-06-26 12:01] #1597 closed, assigned to nobody

[2022-06-26 14:41] ShendMikullovci commented on #1596
![Mapping Intro Step 3](https://user-images.githubusercontent.com/85491794/175819636-cae3a377-26e7-4115-b1e0-dd8c11eb1eca.png)

This would be the version where we have the panel sift through the tabs as the intro proceeds. Keywords in the intro are emboldened for emphasis. Let me know if you guys would like me to change the intro text or anything else.

[2022-06-26 15:06] ShendMikullovci commented on #1596
Our current Step 6 of the Mapping Intro is too long and contains 2 different actions within one explanation.

![Step 6](https://user-images.githubusercontent.com/85491794/175820459-0e2adea8-3c80-4dee-ac21-5abd77c444e7.png)

I suggest we split them into separate steps and improve the look. Here's an idea:

![Mapping Intro Step 6 Icon Markers](https://user-images.githubusercontent.com/85491794/17582

[2022-06-26 15:11] ShendMikullovci commented on #1600
Can be resolved in #1635.

[2022-06-26 15:33] ShendMikullovci commented on #1601
Here's how the tab would look if we proceed with #1635 :

![Objectives Tab](https://user-images.githubusercontent.com/85491794/175821770-219919c2-3087-424d-bdac-8d8180c0823f.png)

[2022-06-26 15:35] ShendMikullovci commented on #1569
Has been implemented.

[2022-06-26 15:35] #1569 closed, assigned to nobody

[2022-06-26 17:43] ShendMikullovci opened #1637 "Message Format Uniformity"
I was wondering why some messages differ from others in terms of format:

![Messages in-game](https://user-images.githubusercontent.com/85491794/175826991-9b82d08f-0106-4697-8fd0-d760eee08ad6.png)

![Messages in-game 2](https://user-images.githubusercontent.com/85491794/175827000-05afd538-ec35-4b78-9f1a-80da2de2414a.png)

If there's no specific reason, I suggest we adapt the 2nd design for all mes

[2022-06-26 17:46] ShendMikullovci opened #1638 "Message Box Uniformity"
I suggest we make all message boxes collapsible. That would increase design uniformity and consistency, and give the user the option to reduce visual load across channels.

Essentially, I believe we should adopt this design for all channels:

![Message Box Uniformity](https://user-images.githubusercontent.com/85491794/175827185-0f7d0458-e885-47ce-9e9c-702a8652cc54.png)

[2022-06-26 17:53] ShendMikullovci commented on #1453
I believe this has been fixed.

[2022-06-26 17:53] #1453 closed, assigned to IanMayo

[2022-06-26 17:53] ShendMikullovci commented on #1425
A new design has been suggested.

[2022-06-26 17:53] #1425 closed, assigned to nobody

[2022-06-26 17:57] ShendMikullovci commented on #1420
This has been fixed.

[2022-06-26 17:57] #1420 closed, assigned to lilitkarapetyan

[2022-06-26 18:02] ShendMikullovci commented on #1384
This has been fixed.

[2022-06-26 18:02] #1384 closed, assigned to nobody

[2022-06-26 18:04] ShendMikullovci commented on #1394
A new design has been suggested.

[2022-06-26 18:04] #1394 closed, assigned to nobody

[2022-06-27 10:13] IanMayo opened #1639 "As Game Controller I may wish to be able to restart the wargame from a previous turn"
## 💬 Brief description of feature

For some wargames, the Game Controller may wish to re-run some turns.  This could happen in these circumstances:
- participants may wish to see what happened with a different strategy
- the wargame failed to explore some kind of interaction, and should be re-run
- there was a deliberate intention to run multiple times, such as comparing political or military opti

[2022-06-27 10:14] IanMayo commented on #1609
Have just created [one](https://github.com/serge-web/serge/issues/1639)

[2022-06-27 11:04] IanMayo commented on #1637
They are two different types of channel.  The top one is a chat-channel, the lower one is standard channel (where the player can choose the template).

They have these differences: chat is meant to be short snippets. So, they are not collapsible, and no templates are available.  They also fill up from the top, like instant messaging.

The standard channel tends to have larger messages, including t

[2022-06-27 11:05] IanMayo commented on #1638
Hmm, chat channels are meant to support an interactive conversation - so having to expand each message could be a pain.

[2022-06-27 12:19] IanMayo commented on #1635
I'm ok with redesign in general.  But, I do think information is easier to spot if it's in a box.  Lots of SERGE stuff is free text, but parts of the right-hand column are facts/status indicators.  So, for the "Turn number" field, I'd quite like a box with "Turn" along the top, and a large number/label beneath it.  This makes it quicker to scan the UI & determine the turn number.  Same for Force/R

[2022-06-27 12:24] IanMayo commented on #1636
Sure, ok. With these notes:
- I don't like the serif font - it only seems to be used when trying to be some old system/tool
- I think we need some clues that the items are in a list.  Once they player knows they're in a list, it highlights the fact that the next action is to click on (select) one of them
- Similarly, alternate light/dark backgrounds and permanently visible scroll bars can help hig

[2022-06-27 12:52] IanMayo commented on #1622
Issue resolved, and tested.

[2022-06-27 12:52] #1622 closed, assigned to nobody

[2022-06-27 14:19] IanMayo commented on #1625
Fixed in #1641

[2022-06-27 14:19] #1625 closed, assigned to IanMayo

[2022-06-27 14:20] #1624 closed, assigned to nobody

[2022-06-27 14:33] IanMayo commented on #1602
They are to show which forces are present in the channel.   So, if there isn't a Red icon, then Blue knows it can talk to White in there without Red knowing.

[2022-06-27 15:59] IanMayo commented on #1602
Fixed in #1641

[2022-06-27 15:59] #1602 closed, assigned to nobody

[2022-06-28 09:51] IanMayo opened #1642 "Runtime style error"
In the debug console we're displaying a warning for `rcb` elements:
![image](https://user-images.githubusercontent.com/1108513/176149574-f6039d07-1bc4-47a2-a86d-0ccb7c0e0a1f.png)

It doesn't really bother me, but it's cluttering the console.

Steps to reproduce:
* run wargame
* log into `small-wargame` as `White` - `Game Control`.
* click on an information marker
* warning appears on console

[2022-06-28 11:18] lilitkarapetyan commented on #1623
Yes, we can

[2022-06-28 12:39] #1628 closed, assigned to IanMayo

[2022-06-28 12:40] IanMayo commented on #1628
Re-open once #1642 is complete, so we can address the intermittent flicker when Game Control is dragging info markers

[2022-06-28 12:41] IanMayo commented on #1642
These warnings are making it difficult to debug issue #1628.  Ian should revisit that once this issue is complete.

[2022-06-28 14:57] ShendMikullovci commented on #1636
![New Admin Page Navigational Menu](https://user-images.githubusercontent.com/85491794/176211140-32ab3f8a-773e-4e04-a424-3f9731049396.png)

Nice point on highlighting the fact that it's a list. I added a "Menu" header and separated each each item. I also changed the font to Inter (Figma, can provide it).

As for the centered text, I'm mostly emphasizing it on options where the actions to be taken

[2022-06-28 15:14] IanMayo commented on #1636
No, I meant the list of wargames are a list :-D

[2022-06-28 20:09] ShendMikullovci commented on #1636
![New Admin Page ](https://user-images.githubusercontent.com/85491794/176272435-62e5adc7-380b-4e01-b2cd-b75de614c593.png)

How do you feel about this then? Slightly more complex visually.

Also tried a gradient version:

![Gradient Admin Page](https://user-images.githubusercontent.com/85491794/176275327-7d469e8c-2f2f-4d04-9274-f7d164d3897a.png)

 Brought back the search bar. I put the buttons unde

[2022-06-28 21:10] ShendMikullovci commented on #1635
Love the turntable idea!
I know we can spot Force/Role quickly when placed below but I'm not sure that's the case for our users. If there's no value in them having that information available quickly, then sure we can place it below. The other issue with placing the Force/Role text labels below is that it goes against virtually every messaging app/chat setup.

Here's another look:

![New General Ch

[2022-06-29 08:45] IanMayo commented on #1636
Maybe the "Create wargame" buttons deserves more prominence - it's the trigger for the whole process. Maybe have just that one button near the search bar?

I _think_ the orange/green markers indicate if the wargame has been initiated (started) yet.  The game designers could probably do with a bit of clarification on that in the UI.

On occasion - a Game Designer may wish to have 2 windows open at

[2022-06-29 08:51] IanMayo commented on #1635
Hmm, maybe it fits in with a RPG interface, where status data is placed around the edge of the screen, including top and bottom.

I like the turn number & phase.  The current time and "start new phase" are linked to this information. Are you able to integrate these two extra fields into your design.  Note: only the Game Controller has "Start new phase" - so most people won't have that button visib

[2022-06-29 09:09] #1642 closed, assigned to lebaphi

[2022-06-29 09:11] IanMayo opened #1646 "DevTools warning - cannot update a component"
This issue came up in PR #1644 :

![image](https://user-images.githubusercontent.com/1108513/176399061-0b26c406-7594-42bb-932a-337a68c7c4aa.png)

We may have this error in other places too.  It would be good to understand it, in case it causes future runtime issues/fragility.

[2022-06-29 09:21] IanMayo opened #1647 "Possibly missing icon"
@lebaphi spotted a bug in PR #1642

It relates to a missing icon:
![image](https://user-images.githubusercontent.com/1108513/176400943-1038c95f-d08b-4518-bc8d-61f1b7af307e.png)

The bug occurs when Game Admin selects an Info Marker in the planning phase.  Investigate.  It appears to be because of a missing `unknown` icon.  I _think_ we manually add `unknown` to the list of annotation icons availab

[2022-06-29 09:21] IanMayo commented on #1647
Could you investigate this please @lilitkarapetyan ?

[2022-06-29 10:55] lilitkarapetyan commented on #1647
Yes, I will investigate.

[2022-06-29 13:46] #1623 closed, assigned to lilitkarapetyan

[2022-06-30 13:16] cpu123 opened #1650 "Display hostname of Serge server on startup, instead of IP"
## 🐞 Amendment description
On startup Serge displays the IP of the server. This encourages users to navigate to the server via IP, and participants tend to bookmark this during the game. If the IP renews (due to DHCP) this breaks any bookmarks and requires technical support to point out/rectify the issue. Displaying the hostname as well as/instead of the IP would help to prevent this.

## 🔗 Affect

[2022-06-30 13:18] IanMayo commented on #1650
Note: only the facilitator that starts the Serge executable sees this message.

Good suggestion though, will investigate (though there's a chance we either can't access the hostname, or that there could be more than one hostname assigned).

[2022-06-30 13:27] #1647 closed, assigned to lilitkarapetyan

[2022-06-30 13:27] #1589 closed, assigned to lilitkarapetyan

[2022-07-01 11:13] #1646 closed, assigned to lebaphi

[2022-07-01 12:18] cpu123 commented on #1650
Yeah, the facilitator has a tendancy to simply pass along the IP that the executable displays to the users - fine for a day or two, but when the IP renews it causes a few headaches! The variable %COMPUTERNAME% should do the trick hopefully?

[2022-07-04 10:40] IanMayo commented on #1634
Fixed in #1640

[2022-07-04 10:40] #1634 closed, assigned to lilitkarapetyan

[2022-07-04 10:42] IanMayo commented on #1578
Fixed. This was actually due to building the MS-Win executable on an ARM chip (Apple Silicon).

When build on GitHub, or on an Intel PC, the build works ok.  Resolved.

[2022-07-04 10:42] #1578 closed, assigned to lilitkarapetyan

[2022-07-04 10:42] IanMayo commented on #1530
Fixed, in #1535

[2022-07-04 10:42] #1530 closed, assigned to lilitkarapetyan

[2022-07-04 10:43] IanMayo commented on #1500
fixed, in #1564

[2022-07-04 10:43] #1500 closed, assigned to lilitkarapetyan

[2022-07-04 10:46] IanMayo commented on #1522
Hello @ShendMikullovci - when you get chance, could you do a review of where we've got to with this?

You should be able to test it from this link: https://serge-review.herokuapp.com/

The functionality is certainly the most important - that the features/capabilities you specified are in there.

[2022-07-04 10:47] IanMayo commented on #1486
All working now, after Heroku magically restored their GitHub integration.

[2022-07-04 10:47] #1486 closed, assigned to lilitkarapetyan

[2022-07-04 10:48] IanMayo commented on #1492
Working now. Just checked on `serge-review`.

[2022-07-04 10:48] #1492 closed, assigned to nobody

[2022-07-04 10:49] IanMayo commented on #1387
Fixed, in #1432

[2022-07-04 10:49] #1387 closed, assigned to lilitkarapetyan

[2022-07-04 10:49] IanMayo commented on #1430
Fixed in #1438

[2022-07-04 10:49] #1430 closed, assigned to IanMayo, lilitkarapetyan

[2022-07-04 10:49] IanMayo commented on #1386
Fixed in #1392

[2022-07-04 10:49] #1386 closed, assigned to lilitkarapetyan

[2022-07-04 10:50] IanMayo commented on #1382
Fixed in #1384

[2022-07-04 10:50] #1382 closed, assigned to lilitkarapetyan

[2022-07-04 10:50] IanMayo commented on #1347
Aspiration dropped, after troubles with RavenDB licensing/authentication.

[2022-07-04 10:50] #1347 closed, assigned to lilitkarapetyan

[2022-07-04 10:52] IanMayo commented on #1333
Tested on `serge-review`, working.

[2022-07-04 10:52] #1333 closed, assigned to lilitkarapetyan

[2022-07-04 10:53] IanMayo commented on #1317
Fixed in #1334

[2022-07-04 10:53] #1317 closed, assigned to lilitkarapetyan

[2022-07-04 10:55] IanMayo commented on #1277
Problem resolved.

[2022-07-04 10:55] #1277 closed, assigned to lilitkarapetyan

[2022-07-04 11:04] IanMayo commented on #934
We successfully added CouchDb integration to resolve this:
https://github.com/serge-web/serge/issues/1200

[2022-07-04 11:04] #934 closed, assigned to lilitkarapetyan

[2022-07-04 11:06] IanMayo commented on #690
We're now on 1.8

[2022-07-04 11:06] #690 closed, assigned to lilitkarapetyan, sandro768

[2022-07-04 11:06] IanMayo commented on #947
Now working

[2022-07-04 11:06] #947 closed, assigned to lilitkarapetyan

[2022-07-04 11:07] IanMayo commented on #1577
Now fixed.

[2022-07-04 11:07] #1577 closed, assigned to nobody

[2022-07-04 11:19] IanMayo commented on #1618
@lebaphi  - could you center-align these icons on their columns please?

[2022-07-04 12:15] IanMayo commented on #1579
Hello @lebaphi - I'd like to get you started on this, please.

The new UI (above) will be in the `Mapping Channel` editor, and provide the data necessary for `MappingConstraints` object in `ChannelMapping`.  The `Proportions and Constraints` section should be collapsible.  So, once the constraints are sorted the Game Designer can choose to collapse it, and concentrate on the participants.

Hmm, ac

[2022-07-04 12:28] ShendMikullovci commented on #1522
It seems to be working well. However, clicking on the marker from a player tab doesn't show the bottom left panel and collapses the top left:

https://user-images.githubusercontent.com/85491794/177154977-bd450bfe-5f69-46a7-9865-d58987c71414.mp4

[2022-07-04 13:05] ShendMikullovci commented on #1636
I reduced the search bar size as well. Not necessary for it to be that long.

![Games Page](https://user-images.githubusercontent.com/85491794/177160313-5298efbe-0904-49e0-8334-c057972397f9.png)

Would you like an Intro to the Admin Page? A legend for the icons? Info upon hover?

We can't go too far on that because we still need the wargames to be visually distinct.

[2022-07-04 13:07] IanMayo commented on #1522
Thanks @ShendMikullovci - the lower-left panel only opens for Game Control - to edit the Info Markers.  For players, they just interact with the marker on the map (plus the tooltip for more details).

For the upper-left panel, we'll have to think about what's consistent. The current collapse behaviour is what we put in for assets & planning/adjudication.  Clicking twice on one collapses the top-le

[2022-07-04 13:12] IanMayo commented on #1636
Great idea :-). It would cover both states, for both icons.

If we delete some of the unused "bar" to the left of the `eye` icon, I still think they would be visually distinct
![Screenshot 2022-07-04 at 14 11 27](https://user-images.githubusercontent.com/1108513/177162001-84445b9a-68e3-4280-852e-a84ea82ac7c2.png)
.

[2022-07-04 13:44] ShendMikullovci commented on #1636
![Game Page 2](https://user-images.githubusercontent.com/85491794/177167367-9d66b83e-4947-4dbe-9384-8a3cd5c4ba79.png)

How does this look to you?

[2022-07-04 13:48] IanMayo commented on #1636
Yes, great :-)

[2022-07-04 13:48] IanMayo commented on #1636
Oh, I'm afraid we have to delete `Contact support`.  Almost all "real" wargames will be run on networks without an Internet connection, so an email link won't work.

[2022-07-04 14:27] ShendMikullovci commented on #1635
Doubt it. Haven't really seen role/team labels on the bottom right corner anywhere.

That was on purpose. I've changed them to tabs that are similar to Mozilla's.

This display would force us to put the shut down button on the top right, which is also counter-intuitive and not consensus.

Here's how it would look:

![COA PAGE](https://user-images.githubusercontent.com/85491794/177174584-c641e436-5

[2022-07-04 14:29] ShendMikullovci commented on #1636
![Game Page 3](https://user-images.githubusercontent.com/85491794/177174830-964b50a6-a98f-422f-8820-7d3afc3f5db3.png)

Let me know if there's anything else. I'll get on updating the remaining pages.

[2022-07-04 14:47] IanMayo commented on #1635
Afternoon @ShendMikullovci  - thanks for the update.

No, I don't have that level of familiarity.  But, there is the "best practice" where the status information is spread around the edge of the screen/content. In this way, the player's eye goes to a specific place, where they will just find one category of information. This is contrast with collecting the status information together, so the playe

[2022-07-04 15:45] ShendMikullovci commented on #1635
The tabs on a browser or paper file are physically connected to the page or file under them. In our case, the tabs would have to connect to the (channel) page itself as well. It'd have to look something like this:

![New Tabs](https://user-images.githubusercontent.com/85491794/177186633-36866224-64dd-4471-9561-cb99f0b72266.png)

The exit button looks good to me.

[2022-07-04 16:02] IanMayo commented on #1635
Yes, the blur at the bottom of the current tab button does seem to disconnect them from the relevant channel.   I'll invite @lebaphi to try to give our channel tabs rounded tops - like in your mockup.

![image](https://user-images.githubusercontent.com/1108513/177189053-2e64b56c-edbd-4bd5-84f6-157e91f60186.png)

So @lebaphi - could you please:
1. Please don't fade the _Electric-blue_ tab border as

[2022-07-04 16:37] lebaphi commented on #1635
okay @IanMayo

[2022-07-04 16:38] lebaphi commented on #1579
okay @IanMayo 👍🏻

[2022-07-05 04:23] lebaphi commented on #1635
how about this @IanMayo @ShendMikullovci

<img width="201" alt="image" src="https://user-images.githubusercontent.com/26705621/177248991-890bbf0c-7c40-4c95-a374-1ace120246d4.png">

[2022-07-05 08:25] IanMayo commented on #1635
I've modified it a bit, so we have a border for un-selected tabs, too:
![image](https://user-images.githubusercontent.com/1108513/177284422-11056098-13e3-4262-82c3-673d101050a6.png)

This has also increased the contrast between the text and the tab, which I think makes it more legible.

[2022-07-05 11:30] IanMayo opened #1653 "Switch to data-table component"
We have a custom `<SortableList/>` component.

We're currently having some layout issues #1618

I would like use to move to a data-table component.  Ideally, this would meet the requirements of both the sortable-lists we use in the [admin pages](https://serge-review.herokuapp.com/storybook/?path=/story/local-organisms-settingchannels--default), _AND_ the [Collaborative Status Board](https://serge-

[2022-07-05 12:34] IanMayo commented on #688
Working fine.

[2022-07-05 12:34] #688 closed, assigned to lilitkarapetyan

[2022-07-05 12:49] #1618 closed, assigned to lebaphi

[2022-07-05 13:52] ShendMikullovci commented on #1635
Love the look.
The bug with the file body disappearing once the channel is maximised is still there:

https://user-images.githubusercontent.com/85491794/177343802-492f43a9-fd7e-4c59-92a1-3e6e75074389.mp4

[2022-07-05 13:53] IanMayo commented on #1635
Sorry @ShendMikullovci - I missed that bug. Could you file it as a new issue please? That will stop it _falling through the cracks_.

[2022-07-05 13:54] IanMayo commented on #1635
Re-opening.  This issue is far from closed :-D

[2022-07-05 13:58] ShendMikullovci opened #1654 "Channel Tab Disappears when Maximised"
As you can see here, the tab seems to disappear when the channel is maximised:

https://user-images.githubusercontent.com/85491794/177344967-07a85a9c-9087-49e7-aee0-1ab85a6f9e1e.mp4

This seems to be happening on both sides of the screen.

[2022-07-05 14:08] ShendMikullovci commented on #1636
Here are the remaining pages:

Message Templates:

![Message Templates 1](https://user-images.githubusercontent.com/85491794/177347278-7a5b827b-4b2c-4864-90a3-43c286e83593.png)

The template highlights upon hover. It doesn't necesarily have to be light blue. Just wanted to emphasize that. The highlighting disappears once it's collapsed.

![message templates 2](https://user-images.githubusercontent

[2022-07-05 14:10] ShendMikullovci commented on #1636
Message Library:

Same idea.

![Message Library 1](https://user-images.githubusercontent.com/85491794/177347649-eda827cc-4cf0-40e6-88be-ef754ff9ee15.png)

![Message Library 2](https://user-images.githubusercontent.com/85491794/177347693-67b7808f-2446-4032-ae8c-785ccac384db.png)

[2022-07-05 14:11] ShendMikullovci commented on #1636
Welcome Screen:

![Welcome Screen](https://user-images.githubusercontent.com/85491794/177347870-81ef449c-e478-42c5-8380-14929c3b98bb.png)

[2022-07-05 14:11] ShendMikullovci commented on #1636
Let me know if I should provide the color coding and gradients.

[2022-07-05 15:24] IanMayo commented on #1636
Thanks for the updates.

1. The "Message library" has been deleted. It was a good idea, but no Game Designer ever wanted to use it
2. For "Message Templates" I do believe it's more effective to keep the preview on the right-hand side.  This is because if the Game Designer is working their way down the list (reviewing the templates, or looking for one of interest), then the items in the list stay i

[2022-07-06 12:52] IanMayo opened #1655 "Update Heroku stack."
I got this email warning this morning:
![image](https://user-images.githubusercontent.com/1108513/177553467-129f241b-7d9d-44fe-9668-adc45a7886ad.png)

We should update our Heroku stack, presumably here:
![image](https://user-images.githubusercontent.com/1108513/177554350-47165e85-19eb-4d6f-8a4b-d74d92d8c0d7.png)

The `inet_hosting` branch pushes to the `serge-inet` app, which is configured to run

[2022-07-06 12:56] IanMayo opened #1656 "New map messages produces wargame with wrong id"
When a wargame update happens, the admin pages pull out the most recent wargame with a particular`doc_id` (`initial-settings` if pre-initiated, and `settings` if after initiated).

But, when I submit a message from the map (umpire laydown in this case) the new document is stored with a date-time id.

Then, when I make a wargame change from the admin pages (such as initiate wargame), they actually

[2022-07-06 13:38] ShendMikullovci commented on #1636
Afternoon! I think that kind of defeats the point of the redesign in itself. We'd lose uniformity. Furthermore, I don't fully understand how the preview makes things easier? It's still on-click and the user gets to view the templates the same way. The new version is only more compact like you asked. You sure you want me to go back to the previous design?

[2022-07-06 13:40] ShendMikullovci commented on #1522
In that case, we're good. I think the only thing I'd change is when the user clicks on a marker and the top right collapses, they should only be able to re-open it by directly clicking on it. We don't want the user to confuse the features and functionalities between them.

[2022-07-06 13:46] ShendMikullovci commented on #1638
No, what I mean is that the New Message button that opens up to the panel above, should be uniformly adopted accross channels. This is a great feature that is clear and easy to use. Having channels where the panel is open and fixed is a.) introducing a difference between channels that might not really rely on the message formats, b.) turning the display away from consistency/uniformity and c.) mig

[2022-07-06 13:49] ShendMikullovci commented on #1637
Yes, I understand. However, I don't think that the way we display messages in Strat Comms vs Red COA here leads the user to understand that difference.
Why is the Force color on the right of the message for Strat Comms and on the left for Red COA for example?

I think going for uniformity here would again lead the user's attention to the content of the message, rather than the look of the message.

[2022-07-06 16:25] IanMayo commented on #1656
I've been thinking about this @lilitkarapetyan

I _think_ the first error is in line `#8` above - where we get the database record for the updated wargame with date-time for `doc_id`.

Fixing that may fix the _downstream_ error I get afterwards.

[2022-07-07 11:58] IanMayo commented on #1636
Hello Shend :-)

Now that we've dropped the `message library` component, `message templates` would be the only component that shows previews embedded in the list.  That means there isn't any uniformity.  So, it doesn't that displaying the previews to the right of the list breaks uniformity.

If I'm looking for a particular template, or a template that contains a particular feature (such as as drop

[2022-07-07 13:46] IanMayo commented on #1637
Yes, good point.  In both channel styles the "sending force" color should be on the outside (left for messages from others, right for messages from own force).

[2022-07-07 16:06] #1587 closed, assigned to IanMayo

[2022-07-07 16:08] IanMayo commented on #1478
Fixed, in #1485

[2022-07-07 16:08] #1478 closed, assigned to IanMayo

[2022-07-08 11:12] IanMayo commented on #1656
Startup condition.  Wargame not initiated, so wargame document stored in `initial_wargame`:
![image](https://user-images.githubusercontent.com/1108513/177980949-418c2e29-9af7-4e37-b964-a97c1d3f845a.png)

Log into `Small game - laydown`. Move `pending` assets.  Then submit laydown:
![image](https://user-images.githubusercontent.com/1108513/177981180-dec58635-72b0-4e74-9467-c5e06b498ace.png)

Note t

[2022-07-08 14:12] IanMayo opened #1660 "Drop Honeycomb library"
Our original hex grid code used the `honeycomb` js library.

We've replaced that with the `h3` library.

Honeycomb can now be deprecated/removed.

[2022-07-09 11:02] ShendMikullovci commented on #1636
Good afternoon!

Yes. I meant uniformity in design logic, not feature uniformity. My bad.

Yes, good point. Here's how that could look:

![New Message Templates](https://user-images.githubusercontent.com/85491794/178102872-98bec3cb-9091-4c84-91b6-502c2b4ff11f.png)

We would lose a little bit in text size, to fit everything in and keep them in a linear fashion. The Create New Template button goes o

[2022-07-11 09:25] #1660 closed, assigned to IanMayo

[2022-07-11 15:09] IanMayo opened #1663 "New messages shown at top in all channels"
I invited a power user to give feedback on chat vs non-chat channels, and got this:

Here is example of text message chain growing from the bottom:
![image](https://user-images.githubusercontent.com/1108513/178298953-dc1bc1cd-2b6d-4fa9-8020-344c98d0c5a4.png)

Currently, chat channels display new messages at the top, and non-chat channels display new messages at the bottom.

This is inconsistent. N

[2022-07-11 15:43] IanMayo commented on #1547
Image attached.
![map_image](https://user-images.githubusercontent.com/1108513/178303445-7b638392-bcb6-46ef-9e1e-58ba9501fd0a.png)

[2022-07-11 15:48] IanMayo commented on #1635
Ok, I'm breaking the implementation of this into 5 phases:
![178303776-8d0e13f9-bd17-4cca-82a1-966d37321f66](https://user-images.githubusercontent.com/1108513/178304771-a3a1a7dc-c0f5-4549-a194-af7567721dc6.png)

**Note: we're doing Step 3 first, it's avoids re-working. **

3- Create panel of Game controls: 3 buttons, plus "Start new phase" button
1-  Wargame title, with "Return to welcome page" li

[2022-07-11 16:38] IanMayo commented on #1656
@lilitkarapetyan - I'm pretty sure the issue is with this message:
![image](https://user-images.githubusercontent.com/1108513/178313805-9b3288e7-b175-45cc-91ae-0b39798d9815.png)

I _think_ that if the wargame is not initiated we need to overwrite the `initial_wargame` document, otherwise we create a new version of the `settings` document.  Here is where these are defined:
![image](https://user-ima

[2022-07-12 04:23] lilitkarapetyan commented on #1656
Hi Ian, the issue is resolved, I will add today

[2022-07-13 09:35] IanMayo opened #1667 "Background polygons not rendered"
We have test data that includes regions of similarly styled polygons.

But, they're not shown in Storybook:
![image](https://user-images.githubusercontent.com/1108513/178702095-75ab2221-b579-45fe-9446-6f52bdc2e90f.png)

[2022-07-13 09:36] #1547 closed, assigned to IanMayo

[2022-07-13 14:22] ShendMikullovci commented on #1547
Image present in Small Wargame Laydown.

[2022-07-13 14:24] ShendMikullovci commented on #1599
I don't see how the fix for #1547 through #1665 closes this issue?

[2022-07-13 14:28] ShendMikullovci commented on #1635
Hi Ian! Great idea. Let's keep in mind that the exit button is taking the spot of the intro/feedback and player log buttons so in the meantime, where are those buttons going to be located?

[2022-07-13 14:30] IanMayo commented on #1599
Aah.  The fix at #1665 amends the tour text.
![image](https://user-images.githubusercontent.com/1108513/178758930-aa982cda-81ba-44c6-93d8-6c2cd66e5246.png)

We don't (yet) have the animation for dragging bars. Re-opening.

[2022-07-13 14:33] IanMayo commented on #1635
Ahh, well spotted. Will improve steps.

[2022-07-13 14:38] ShendMikullovci commented on #1579
Hi guys! Thanks for your work here.

![New Proportions](https://user-images.githubusercontent.com/85491794/178759636-9bf18cfe-ec80-4267-9640-4d537d90e226.png)

Couple of things:

1. Why are "Bounds, Tiles, Cells" mentioned in the collapsible tab for Proportions and Constraints? Seems to me it overcrowds the tab a little and makes the title hard to read.
2. Can we stick to outlined, instead of fill

[2022-07-13 14:42] IanMayo commented on #1579
I can answer some :-)

1 - these are ticks to show if the essential items have been provided. The Game Designer can check the mapping is in order without expanding to view the contents.
4 - sure
5. For some sets of background mapping (OpenStreetMap or Google Maps) the original providers want users to give an attribution string, to acknowledge (or _give credit to_) the provider.

[2022-07-13 14:47] ShendMikullovci commented on #1579
Oh, OK. Can we have it shown like this? :

![Bounds tiles and cells](https://user-images.githubusercontent.com/85491794/178762850-b60f4836-fd8a-49c2-b9f5-5b5184c99e61.png)

Easily accessible information, without interferring with the tab title. Leveling them together also puts them on the same eye-line making it easy to spot both.

OK. Thanks!

[2022-07-13 14:50] IanMayo commented on #1579
Yes, good suggestion.

[2022-07-13 14:52] ShendMikullovci commented on #1562
Love the focus on cognition & behavior! While it's a great idea, we should also consider asking the participants about color blindness and other possible conditions in our survey (dyslexia comes to mind for example, or disgraphia, etc.) since SERGE heavily relies on visual cues.

[2022-07-13 15:04] IanMayo commented on #1562
The set of players will change for each game - though the Game Designer may work on several games.

I think we're best off working with Industry Standard percentages of users with sight problems.

[2022-07-14 13:22] IanMayo opened #1669 "More efficient `getLatestWargame()` in `wargames_api`"
The above method is implemented on the client.

To do this, it pulls all docs from the server, then finds the most recent wargame.  It's quite efficient at finding the most recent wargame, since it just walks backwards through the list.

But, it does involve pulling all docs from the server - and there could be thousands.

So, instead the processing should happen on the server.

We should have a s

[2022-07-14 13:25] IanMayo opened #1670 "Confusion over retrieving `all docs`"
We have server-side processing called `allDocs`.

It appears to try to get all messages - so no wargame (info) documents.

But, then the client-side processing seems to look for wargames in that result set.

We should inspect the client-side code, and determine if there are methods that just require messages. If that's the case, then we should create a new end-point `allMessages`.  This will retur

[2022-07-14 13:36] IanMayo opened #1671 "Refactoring `wargame_api`"
I've inserted some `TODO:` markers into `wargame_api\index.tsx`.

They should be looked at - and the suggestions tested.

[2022-07-14 15:30] IanMayo opened #1672 "As a game-player I wish to select which polygon styles are visible"
The Game Designer can generate polygon regions, with styling.

These can represent physical, political, or other aspects of the game domain.

Some players may find some backdrops more valuable than others.

So, the game should generate a list of polygon styles, and a popup element on the toolbar should let the player decide which layers are visible.

Where a style is represented by multiple catego

[2022-07-14 15:40] IanMayo commented on #1616
Fixed in #1664

[2022-07-14 15:40] #1616 closed, assigned to IanMayo

[2022-07-14 16:28] IanMayo commented on #1617
Thanks @ShendMikullovci  - but I'm pretty sure this is handled, if I understand correctly.

If the master attribute is edited (in `platform-types`), then when we save the `force`, we check that asset attributes are still valid, and update/add/remove them accordingly:
![screencast](https://i.gyazo.com/b7482adf61111dfd9b882ad5eb5b04f9.gif)

[2022-07-14 16:30] IanMayo commented on #1667
Accidentally fixed this in #1668

[2022-07-14 16:53] IanMayo opened #1673 "Mistakenly using `settings` in `PouchDb.js` and `CouchDb.js`"
Here is how we name the wargame documents:
1. pre-initiated: named with the `initial_wargame` special name
2.  post-initiated: named with the date-time

The second one is so that we have a stored copy of each change to the wargame.

We mistakenly refer to `settings` in the PouchDb and CouchDb files.  We should check we are doing the right thing.

[2022-07-15 15:01] IanMayo opened #1675 "Allow "forces in channel" to be hidden."
For some channels, the Game Designer doesn't want channel members to see which forces are in channels.

This is because...

For this game, "Red" can position themselves so they can hear "Blue" conversations.  Game Control will move Red in and out of the Blue channel, depending on where they are.  But, they don't want "Blue" to know when this is happening.

We should handle this through a new setti

[2022-07-15 15:14] IanMayo commented on #991
@ShendMikullovci - we're slowing getting on top of the new feature workload, and can start working on some of the lower priority bits.

I'd appreciate you giving an update to this UI, please.  I have these observations:
1. for the `In-Game time`  we won't need the "Years" tab, since a year is just a multiple of "Months".
2. Could you use styling to show which are editable text boxes
3. I don't bel

[2022-07-15 15:20] IanMayo opened #1676 "Enumerated attribute values"
As a ***Game Control*** I wish to ***enumerated attribute values*** in order to ***improve attribute usability***

For a future wargame (WATU) the depth of submarines will be significant - and should be an attribute.

While we could allow players to enter a depth in metres, it would be better allow them to choose one of `Deep`, `PD` (short for _Periscope Depth_ and `Surface`.

We'll have to make t

[2022-07-15 15:34] IanMayo commented on #1400
Hello @ShendMikullovci - today I learned the WATU wargame is going to use one force per player/asset, in order to allow the visibility status on a per-ship basis (we currently only allow per-force).

Could you do some fresh inspection on where the issues are, and how we can potentially overcome them?

One thought. Here is the game admin column:

![image](https://user-images.githubusercontent.com/1

[2022-07-16 10:12] ShendMikullovci commented on #1400
Hi Ian! How many Forces are we talking about approximatively? Are all of these Forces going to have their own logo/icon?

[2022-07-16 12:18] IanMayo commented on #1400
8 forces for the test, maybe 20 for the real game.

Probably not an icon per force. May have to rely on abbreviated name (letters).

[2022-07-16 20:55] ShendMikullovci commented on #991
Gave it a fresher look that matches what we have in the admin pages so far:

![Overview 1](https://user-images.githubusercontent.com/85491794/179371508-912c5c41-d2bb-4f73-b7a1-c3e5a418d056.png)

![Overview 2](https://user-images.githubusercontent.com/85491794/179371512-4065d3ce-36a8-43ad-a0b6-86a06de4dbd4.png)

While this layout occupies more space, we'd conserve uniformity here by having features

[2022-07-16 21:23] ShendMikullovci commented on #1400
We could also show messages something like the Messenger app:

![Chat Messages Alternative](https://user-images.githubusercontent.com/85491794/179372191-86e49d45-3202-4215-bc65-43cbd81859aa.png)

Here, on the left, we have our current message layout. As you can see, the only association between the force and their color is made on the left of the message chip where we use color to indicate the for

[2022-07-17 19:14] ShendMikullovci commented on #1675
https://user-images.githubusercontent.com/85491794/179421307-d1cf7256-e2ec-492f-a669-54cdf6f0af56.mp4

[2022-07-17 19:17] ShendMikullovci commented on #1675
Here's a screenshot of that for a better view:

![Hide Forces In Channels](https://user-images.githubusercontent.com/85491794/179421364-d0e55377-bc6b-4a14-8693-801e37e7afd0.png)

You'll notice I deleted the "Actions" header. The buttons are quite self explanatory.
You'll also notice I changed the "Restrict access to specific roles" to just "Roles". The latter header is also quite self explanatory.

[2022-07-17 20:25] ShendMikullovci commented on #1676
Hi Ian! Excited about this.
I was wondering though, is depth really an attribute? It sounds like a "state" or "condition" to me to some degree (thinking back to the debate we had on attribute definition). Depending on what we think it is, we can present it in different ways.

We could show it in a separate box:

![Depth 1](https://user-images.githubusercontent.com/85491794/179423438-7f74befd-e0a6-

[2022-07-18 08:10] IanMayo commented on #1675
Hello Shend, this requirement relates to the player pages.  In the admin pages, the Game Designer sees all roles.

The handle the changes in "visibility" while the game is playing, the Game Controller will delete the `Red Force` from the channel when they are dived, and add them again when they return to periscope death. This functionality is already quite mature.

All we need is the toggle for th

[2022-07-18 08:16] IanMayo commented on #1676
Thanks for exploring the idea.  Depth only relates to submarines, and they're not present in all wargames.  So, right now it doesn't seem justified to add it as a dedicated attribute.

Adding it as one of our custom attributes is the flexibility the users wanted.  If, one day, SERGE has to understand/use the concept of depth we can use one your mechanisms for adding it as a permanent attribute.

O

[2022-07-18 12:01] IanMayo commented on #991
I see the consistency.  But, as the window gets wider, the label gets further from the control it relates to.

I don't think the "trash" icon has a meaning in this context, since the fields are always present.  Hmm, if it means "reset to default" then the `revert` arrow may be more valid.

While I recognise the meaning of "Start time" and "Current time" - I can't recall what "Game Time" represents

[2022-07-18 12:13] IanMayo commented on #1400
Thanks for that fresh thought.

One observation - we need the "time sent" in the message.  Our current implementation may not be enough. Some wargames span multiple days - so we'd need to display date _and_ time for each message. Hmm, this should probably be a setting in the "Overview" panel - since the Game Designer will know if the game is to span whole days or not.

The pattern of curves for mu

[2022-07-18 15:11] IanMayo opened #1677 "Need field for "Default" value in "Attributes""
In the Admin Pages, we can edit the attributes for each platform type.
![image](https://user-images.githubusercontent.com/1108513/179541986-0a724680-c997-46b1-b7c4-6b7d13de12e8.png)

The `Number Attribute Type` element includes an optional value for "default value":
![image](https://user-images.githubusercontent.com/1108513/179542066-f89f1d23-93b5-4cfb-937a-f0bfc6ad7160.png)

I see that the origin

[2022-07-18 15:13] IanMayo commented on #1676
Hello @ShendMikullovci - I'm starting to work on the backend changes for this, including making some test data.

I realise the two different types (number vs enum) will have different columns.  We _could_ handle this in one table by some columns having a different meaning depending on if its a enum or number atttribute.  But, on reflection I think it could be easier all round if we have two tables

[2022-07-18 20:44] ShendMikullovci commented on #1400
![Chat New](https://user-images.githubusercontent.com/85491794/179613475-b1fb1f6f-0210-4e28-9f40-56844c51db6d.png)

Added the time stamp inside the message and Force + Role above it. A logo to the side of the message to maintain awareness.
It looks and feels much more like a chat window here. Also, the messages would be separated depending on when they've been sent (date wise).

Yes, the idea behi

[2022-07-18 21:03] ShendMikullovci commented on #991
Given the page is not overloaded with options, the distance shouldn't be an issue. I could of course shrink things and eventually split them into two different windows, but it would break from our current design logic and wouldn't really be too intuitive in my opinion. Let me know if you want me to try.

Yup, good thinking. Replaced it:

![Overview new](https://user-images.githubusercontent.com/85

[2022-07-19 09:47] IanMayo commented on #991
Having two/more columns of properties means more can be reviewed at once, without scrolling.  So, I prefer your general strategy of Sept 2021, but with updated styling/presentation.

Brilliant! Over the weekend I was thinking we needed something like this.  Let's rename "Game Time" to "Display format".

[2022-07-19 10:05] IanMayo commented on #1400
I was referring to whether date was shown against each message. But, your "new day" marker does the job perfectly well.  I know it feels excessive, but I think we do need the year in there.  The last wargame did span 2021/2022.

[2022-07-19 10:38] #1677 closed, assigned to lebaphi

[2022-07-19 17:07] IanMayo opened #1679 "Performance impact with lots of messages"
In the file `playerUi_ActionCreators.ts` we have some code to submit bulk documents.

I switched this toggle on, and submitted 200 documents.

The rate of inserting a new document steadily got slower, from about 20 per second, to one per second.  I don't know if the delay at the backend, or _somewhere_ on the front-end.  There are some algorithms that may get exponentially slower (I'm thinking abo

[2022-07-19 20:41] ShendMikullovci commented on #1675
I thought of circular menus last night and tried it out. It could do the job well.

https://user-images.githubusercontent.com/85491794/179844494-a5d5aa8b-e478-47a0-a358-e73a323b83f7.mp4

[2022-07-19 22:43] ShendMikullovci commented on #1400
Haha! That's the reason I didn't add it in the first place. Here we go:

![Chat New](https://user-images.githubusercontent.com/85491794/179860629-acdea9b0-72cb-42c8-a826-cdc4f6abdcc1.png)

[2022-07-19 23:07] ShendMikullovci commented on #991
Here's one potential look:

![Overview new](https://user-images.githubusercontent.com/85491794/179863172-e80782c1-7b92-40b5-9060-b32db8110440.png)

Renamed "Game Time" to "Display Format". Got me thinking though, isn't the DHM/Months feature just an extension of the format for time we display? If so, shouldn't "Display Format" be down there by DHM/Months, or included in, or simply conjoined to the

[2022-07-20 08:25] IanMayo commented on #1675
Very stylish.  But, at the moment, it's just one toggle for the whole wargame: "Show forces in channels".

The Game Control uses the admin pages to add/remove a force (or role) from a channel.

[2022-07-20 08:29] IanMayo commented on #1400
Thanks Shend.  Would you propose that we extend this strategy to "Chat channels" in the left-hand side of the UI? I think it could work.
But, originally I think there was some conscious intention to style the "Game Admin" channel differently, as a visual reminder that it's "out of game" messages on the right, and "in game" messages on the left.

[2022-07-20 08:42] IanMayo commented on #991
Layout works for me :-)

Aah, we may be able to re-arrange a little more logically.  The "DHM/Months" box is how far forward we move at each Turn.  So, we could move "Real World Time" beneath "In-game time", and move "DHM"  under "Turns".

[2022-07-20 10:28] #1656 closed, assigned to lilitkarapetyan

[2022-07-20 10:28] #1667 closed, assigned to IanMayo

[2022-07-20 10:56] IanMayo commented on #1675
Have added control to support this (bottom right). We'll have to include it in the updated admin pages overview:
![image](https://user-images.githubusercontent.com/1108513/179965841-31bae7d3-fdd7-4158-892e-b614e046d2f1.png)

[2022-07-20 22:50] ShendMikullovci commented on #1400
I think if it's absolutely necessary, then yes. We could format the date/time differently (use numbers only). Though I do agree with you that it goes against our conscious intention to style them differently. We can also try and see how it feels to look at them.

[2022-07-20 22:57] ShendMikullovci commented on #991
Good idea!

![Overview new](https://user-images.githubusercontent.com/85491794/180096809-285c93f1-56f5-4834-92b3-00eec3eadd35.png)

[2022-07-20 23:47] ShendMikullovci commented on #1617
Closing until further notice.

[2022-07-20 23:47] #1617 closed, assigned to nobody

[2022-07-21 00:06] ShendMikullovci commented on #1676
Not sure if I fully understood, but I gave it a go. Did you mean something like this:

https://user-images.githubusercontent.com/85491794/180102864-b13c180f-ab63-452a-accd-323a62f6cdb7.mp4

Obviously, clicking on Add Value Here would allow the user to type in the value, instead of having Periscope Depth pop up.

[2022-07-21 01:09] ShendMikullovci opened #1682 "Planning Board"
Here are a couple of ideas for the planning board we discussed on Slack:

Considering that the planning board is going to be used to draw and doodle on the map, I think it should adopt the mapping page as it's background by default.

![Planning Board 1](https://user-images.githubusercontent.com/85491794/180107788-22b2189a-5470-4edc-a217-2bc2d6613651.png)

An obvious location for the board would be

[2022-07-21 09:20] IanMayo commented on #1400
One query on the layout @ShendMikullovci

Shouldn't there be a _right-angle_ corner on the right of the adjacent messages, too?

![image](https://user-images.githubusercontent.com/1108513/180178629-73c14f96-cb8a-4118-80eb-d0e9ac98a5bc.png)

[2022-07-21 09:22] IanMayo commented on #991
Not quite - the DHM relates to the turns, so I think we should give DHM a `Turn length` title, and lay out like this:
[code]

[2022-07-21 10:10] IanMayo commented on #1676
Yes, _kind-of_ like that.

But, if we can handle the layout issues, I'd like both sets to be within a single `Attributes` block.    First number attributes, then enumerated attributes.

For the enumerated issues, I think we'll need these columns:
- name
- editable by player (toggle)
- description
- values (popup list editor)
- default (drop-down list of values)

[2022-07-21 10:20] IanMayo commented on #1682
The customers that want the planning board won't be using Serge mapping - so we can't base it on the mapping channel.

I'm pretty sure we'll represent the `Planning board` as another channel.  That means the Serge plumbing (to send/receive the updated plans) will _just work_.

As another channel, the board will be configured by the Game Designer to indicate which roles can produce plans, which rol

[2022-07-21 11:06] IanMayo opened #1683 "Consistent use of blue shade"
We appear to be using three shades of dark blue (`a`, `b`, `c` below):
![Screenshot 2022-07-21 at 12 02 34](https://user-images.githubusercontent.com/1108513/180199246-5bb869b3-df80-4e3e-affb-cf95eed3393a.png)

There could be benefit in switching to just one shade.

Or we could have one shade of dark-blue for _in-game_ (left) and another shade for _out-of-game_ (right) components.  If we do want d

[2022-07-21 12:38] #1675 closed, assigned to lebaphi, ShendMikullovci

[2022-07-21 12:39] IanMayo commented on #1670
Ok, have clarified in the code. We don't return wargames or counter messages

[2022-07-21 12:39] #1670 closed, assigned to lilitkarapetyan

[2022-07-21 12:54] IanMayo commented on #1673
Done.

[2022-07-21 12:54] #1673 closed, assigned to lilitkarapetyan

[2022-07-22 11:03] #1676 closed, assigned to ShendMikullovci

[2022-07-22 16:09] IanMayo opened #1686 "Not cache-ing ASSET icons"
Each time we click on an asset marker, SERGE fetches the icon from the Internet.

Note: we don't do this for information markers.

![screencast](https://i.gyazo.com/a1d985ebb68f14c79d1e200d325a70ef.gif)

[2022-07-22 16:15] IanMayo commented on #1635
Re-open. There are some pending items, please @lebaphi

* [x] Make the `START NEW PHASE` button full-width inside the turn control
* [x] Make `START NEW PHASE` have more rounded corners
* [x] Make  "turn control component" have more rounded corners
* [ ] Make the "Exit" icon vertically aligned with the game title (allowing for two-line game title, too). See image below.

![image](https://user-imag

[2022-07-22 16:37] IanMayo opened #1687 "Improved layout of chat messages (square corners)"
When there is a series of chat messages we could use a square corner for the "adjacent" messages, like in this screenshot:
![image](https://user-images.githubusercontent.com/1108513/180484027-fd1a681d-8f0c-4296-ab3b-6573e703f05f.png)

I'll try to do the logic to recognise adjacent messages, including whether a message needs square markers at top and/or bottom.

I'm waiting to hear from @ShendMikul

[2022-07-23 09:45] ShendMikullovci commented on #1683
I agree. I think a.) should stay, and c.) be turned into a.) to see how it looks. I think b.) should go, since it's not as widely used as a.) and c.) and it's more of a grey blue than navy blue.

[2022-07-23 10:38] ShendMikullovci opened #1688 "Game Crash"
Hi everyone!

The game crashed when I clicked on the exit button on the top right. Was hit with a blue screen and I couldn't log into any game for a while, because the game list was erased entirely. I'm back in after a short delay (around 5-10 mins). I also checked the admin pages, and the game list disappeared there as well.

[2022-07-23 14:52] ShendMikullovci commented on #1682
Hi Ian!

Couple of ideas:

1. In-Channel:

![Planning Board In Channel](https://user-images.githubusercontent.com/85491794/180609748-4b5fbd8c-e907-4e00-9f01-26170c8e3a43.png)

Here, we'd have New Plan instead of New Message in the bottom, with 2 other already submitted plans shown in the channel for GC to expand.

I thought it might be useful to include a grid in the board:

![Planning Board In Ch

[2022-07-23 14:56] ShendMikullovci commented on #1675
Hi Ian!

So, in this case, nobody (no Force) sees anybody in channels? Meaning, everyone is invisible to everyone?

[2022-07-23 15:04] ShendMikullovci commented on #1400
The reason Messenger went with only the left side curving is because that's the "identity" side, meaning that's the side that pertains to the interlocuter or the person we're talking to. That way, we perceive not only that the messages are tied together (part of a larger context) but also that they are tied to 1 person (so we wouldn't have to repeat the icon with every message, we'd either keep it

[2022-07-25 09:23] IanMayo commented on #1683
Hmm, do you think there is logic in using styling to differentiate between "in-game" and "out-of-game" parts of Serge?

Using the same shade for A & C at the bottom of the screen loses this differentiation. But, if we are going to differentiate them, then we should probably make the color different greater.

[2022-07-25 09:35] IanMayo commented on #1688
Hello @ShendMikullovci - I can't be 100% sure on this, but this behaviour can happen if the "Heroku" hosting has gone to sleep.   When this happens, Serge in your browser will still be working, but the backend will no longer be responding.

If you do a "Refresh" on the page, and things work ok, then it's because of this "going to sleep" issue.

[2022-07-25 09:42] ShendMikullovci commented on #1688
Hi Ian! Hmmm. Refreshing the page didn't put everything back to place unfortunately. I only had to wait a little bit and it picked up where it left off.

[2022-07-25 09:44] IanMayo commented on #1682
Oh dear - I've misled you.  The planning board will be a "channel" in that it will be represented as another tab on the left-hand side of Serge.  But, it will be an _illustration_ rather than a list of messages (just like the mapping component).

_Under the covers_, the drawings placed on the board will be transmitted around Serge as messages, but the content of the message will be "computer speak

[2022-07-25 09:47] ShendMikullovci commented on #1683
That could definitely be beneficial.

What we could do is remove B and apply C instead. That way we stick to navy blue, but the shade between A and C would still be sufficiently different (I believe).

[2022-07-25 09:55] ShendMikullovci commented on #1687
Hi Ian! I was sure I replied to this issue! Apologies.

The reason why Messenger went with a left-only angle curvature is to align the messages to a.) themselves and b.) to the interlocutor. This way, you don't have to have an icon/logo/picture by each message, but rather display it at the top of the message list that they have sent, or at the bottom.

That's why I suggest we stick to left only.

[2022-07-25 09:58] ShendMikullovci commented on #1676
Do we have a deployment for this? If we want to add those columns, we should consider rearranging the page to fit everything.

[2022-07-25 09:59] IanMayo commented on #1400
Sure, ok.

[2022-07-25 10:00] ShendMikullovci commented on #1682
So, similar to a mapping page except the entire screen is a drawing board?

[2022-07-25 10:01] IanMayo commented on #1675
When ticked, no Force Icons will be shown at the top of channels.  So, Blue Force will not see Red Force entering or leaving the channel.  Red won't be posting into it, but while a member, it will be able to read messages.

[2022-07-25 10:01] IanMayo commented on #1688
Sure, OK.  If the issue is repeatable, could you give us the steps to repeat it please?

[2022-07-25 10:01] ShendMikullovci commented on #1676
Just saw the deployment. Great work!

[2022-07-25 10:03] IanMayo commented on #1683
Ok. That should be enough for @lebaphi .  Could shade of blue at `c` also be used for `b` please?

[2022-07-25 10:04] IanMayo commented on #1687
Hello @ShendMikullovci - you did reply, in a different issue.  Your logic is fine.

[2022-07-25 10:06] IanMayo commented on #1682
Yes.  Once the task starts, and I have chance to talk to users, we _may_ identify the need to put shapes into layers, and for layers to be switched on and off.  Note: the concept of layers may just be one-layer-per-force.

[2022-07-25 10:17] ShendMikullovci commented on #991
Something like this?:

![Overview](https://user-images.githubusercontent.com/85491794/180753956-5a4d65bf-357e-4524-bbb7-df9be03e4a37.png)

Added the "access codes" and "hide forces" to the top in smaller fonts, but we can relocate them. Putting them on the bottom right or left felt a little imbalanced.

I'm starting to like the toggle option for DHM/Months less and less and considering turning int

[2022-07-25 10:22] ShendMikullovci commented on #1688
https://user-images.githubusercontent.com/85491794/180755084-06979bcb-2ed4-4f84-9f01-590bf2c22743.mp4

[2022-07-25 10:23] IanMayo commented on #991
Yes, I think that putting the two turn length options into tabs with the relevant controls will "connect" them together.

How about adding them to the "Game Description and Objectives" box?  They seem a bit "homeless" currently - floating around without a containing box.

[2022-07-25 10:55] ShendMikullovci commented on #991
https://user-images.githubusercontent.com/85491794/180761158-e4e4b815-a382-4b23-8685-614db3b44580.mp4

Added them below the Objectives text box.

[2022-07-25 11:28] IanMayo commented on #991
Yes, tabs work well for me.

[2022-07-25 11:56] #1635 closed, assigned to lebaphi

[2022-07-25 15:43] IanMayo commented on #1579
One small task for @lebaphi , please.

Could you please change the collapsible item in the "Mapping" channel so the tick boxes are right-aligned, like this:
![image](https://user-images.githubusercontent.com/1108513/180819569-67fe54ff-5ab3-4b83-9d6f-10e868b0094c.png)

[2022-07-25 15:44] IanMayo commented on #1609
Fixed.

[2022-07-25 15:44] #1609 closed, assigned to nobody

[2022-07-25 16:02] IanMayo opened #1691 "As a player I wish to see styling that indicates the terrain-type (or other) for cells"
We're using H3 mapping for background context.

It is possible to generate data-files indicating which terrain type applies to a cell.

There are two approaches to using this data:
1.  We load an array for each cell, then style the cell appropriately
2. We load the styling for all cells, then generate polygons of contiguous cells, and style these polygons

The second approach requires some up-fron

[2022-07-25 16:37] ShendMikullovci commented on #1682
Here's an idea then:

![Planning Board](https://user-images.githubusercontent.com/85491794/180829837-b696a62b-47bb-4586-aee5-24501d889506.png)

Let me know what happens.

[2022-07-25 16:40] IanMayo commented on #1682
Yes, that's the general idea.

[2022-07-26 07:26] IanMayo commented on #1655
Ok. A copy of Serge was updated to Heroku 20:
![image](https://user-images.githubusercontent.com/1108513/180947633-944c08aa-ce9b-4b3b-9a03-7883038e8b7e.png)

It ran fine:
![image](https://user-images.githubusercontent.com/1108513/180948404-947430ad-7e07-4757-89ad-d09fd6c4ac7f.png)

[2022-07-26 07:26] #1655 closed, assigned to lilitkarapetyan

[2022-07-26 12:35] IanMayo opened #1693 "UX For polygon styles"
Analysts are able to provide set of data that describes what is in each cell.

The data looks a bit like this:
![image](https://user-images.githubusercontent.com/1108513/181007470-4924f361-9d6d-4875-b314-9cd7feefe167.png)

They provide a list of layer names, then for each cell on the map, they indicate if the cell is only of the named layers.

But, they do not provide styling for these layers.

So

[2022-07-26 12:49] IanMayo commented on #1693
Hello @ShendMikullovci - I had to produce a mockup of the "layer styling" for the analysts to review my intentions.

I'd appreciate you inspecting the mockup & seeing if it makes sense, please.

[2022-07-27 08:47] #1579 closed, assigned to lebaphi, ShendMikullovci

[2022-07-27 12:03] IanMayo opened #1696 "Delete assets when Platform-Type removed"
In `Small Wargame` we have platform-types, and assets.  Assets have a (non-editable) platform-type.

If we delete a platform-type that is used by one or more assets the "Forces - Assets" table falls over - since the platform isn't found.

So, when the user requests to delete a platform-type we should:
1. Count how many assets are of that type
2. Warn the player that "4 Assets of this type will be

[2022-07-28 17:18] IanMayo opened #1699 "CouchDb not updating for live wargame"
I had some issues with the CouchDb backed in today's wargame. Well, we couldn't play the game - because the wargame wouldn't update.

It _looks like_ this is the issue.

**Setup:** CouchDb has a wargame. It just has one document `initial_wargame` - this is typical of un-initialised wargame, during design phase.
![image](https://user-images.githubusercontent.com/1108513/181596324-92f25340-bac6-49f2

[2022-07-28 20:25] IanMayo opened #1700 "Can't change visibility toggles"
In the Adjudicate Turn and Visibility forms, the Game Manager is able to indicate which forces can see the selected platform.

Currently, these checkboxes don't have labels - they should have the Force Name above them.

They're also not responding - they don't change when clicked.

The adjudicate turn form is here:
https://serge-review.herokuapp.com/storybook/?path=/story/local-organisms-adjudicat

[2022-07-29 08:36] IanMayo opened #1701 "Turning circles not shown for new scenario"
I created a new wargame, with blue, red, green assets.  I provided turning circles.  But, when planning routes, no circles were displayed.

Note: this scenario used much smaller step times and hexes than previous scenarios.

[2022-07-29 09:20] IanMayo opened #1703 "Refactor RCB into separate classes"
The RCB component is quite fragile, and has experienced a number of bugs.

Part of the fragility may be that it supports both Radio boxes and Check-boxes, which represent their data in different ways.  The props (especially update state handler) are poorly defined.   Oh, and there is "special handling" for lists of forces where colors are provided for the values.

Split into three components (one

[2022-07-29 11:18] #1683 closed, assigned to lebaphi, ShendMikullovci

[2022-07-29 14:07] #1700 closed, assigned to lebaphi

[2022-07-29 14:30] IanMayo opened #1705 "Turning circle not generated if no history present"
If an asset has history, we generate valid turning circles for it.

If there is no history, then we can't generate turning circles  - so the player has free rein to head in any direction.

But, after the first turn is planned, we should be able to generate the turning circles.

https://user-images.githubusercontent.com/1108513/181782047-8979886b-6682-4240-92e3-411ef4d82820.mp4

[2022-07-29 16:04] #1701 closed, assigned to nobody

[2022-07-29 17:02] IanMayo opened #1706 "For some games the author of a message shouldn't be visible"
For one wargame we're simulating spoken radio comms via a chat channel.

In spoken comms the identity of the person sending the message will not be known to the recipients.

So, we should have a flag in game-admin over to "Hide identity of message authors" in some chat channels.  So, this will mean introducing a "options" panel at the top of "Chat" rooms - like we do for `mapping` and `collab stat

[2022-07-30 11:03] ShendMikullovci commented on #1639
This made me think of the "Checkpoint" feature in most RPGs. The player goes through a mission and encounters multiple checkpoints where the game is saved automatically. If they die in the game or fail the mission, they can restart from their last checkpoint.

I'm not sure if this is applicable for us, however the idea of picking up from a specific point you might have left off is similar.

Featur

[2022-07-31 12:55] ShendMikullovci commented on #1693
Hi Ian!

Sure, the table looks decent. Wanted to ask you a couple of things:

1. What does "Rescan" mean, as a button" for Definitions here? Why that term specifically?
2. Are we sure Resolution doesn't go _inside_ the table, rather than above it?

Did a quick redesign on this to match the looks and logic that we follow with Serge:

![Cell Definitions](https://user-images.githubusercontent.com/854

[2022-07-31 13:24] lebaphi commented on #1706
do you have a design for it @IanMayo ?

[2022-07-31 13:48] ShendMikullovci commented on #1639
Here's how that could look like:

![Exit Menu](https://user-images.githubusercontent.com/85491794/182029429-1ba75d87-3de7-4005-abb2-bebe3b5aabd2.png)

The last option, restarting from a specific turn, would have an additional window pop-up, with the user having to fill in a turn number they'd like to restart from.

![Exit Menu 2](https://user-images.githubusercontent.com/85491794/182029435-a54f5d2

[2022-07-31 13:54] IanMayo commented on #1706
I'm happy to do.the data changes first.
I'll decide if we need UX in a couple of days.

[2022-07-31 15:47] ShendMikullovci commented on #1663
Hi Ian! I think consistency is the way to go most of the time. We should just be mindful of the conceptual differences between the channels themselves!

[2022-07-31 15:49] ShendMikullovci commented on #1600
Has been resolved.

[2022-07-31 15:49] #1600 closed, assigned to nobody

[2022-07-31 15:52] ShendMikullovci commented on #1580
We've decided to let this be.

[2022-07-31 15:52] #1580 closed, assigned to nobody

[2022-08-01 09:22] IanMayo commented on #1693
For the table, there is one `row` for each data type defined in the provided data-file.  The resolution also comes from the data-file.

So, once the game designer has initially specified (or subsequently modified) the `cells/definitions/json` file, they must click on `Rescan` for SERGE to go through the file and pull out the cell styles (`Land`, `Depth-30`, `Depth-60`, `pKill-Low`), and the Resolu

[2022-08-01 10:43] IanMayo commented on #1639
Hello Shend,
this isn't something that happens at the player-level.  There is one wargame, that all players in the organisation are playing at the same time.  The Game Controller may choose to restart the wargame, or return to an earlier turn.   When they do this, the wargame moves back for all players.
When I considered this before, I started from the position that the Game Controller would be lo

[2022-08-01 10:45] IanMayo opened #1709 "Time Remaining Indicator is missing"
I've just realised that we aren't currently displaying the time remaining for a turn.

![image](https://user-images.githubusercontent.com/1108513/182129016-97e9f625-299c-4d76-b046-b0c579228844.png)

The wargame that ran at the end of last year didn't use SERGE timing/steps, so I hid it. I clearly forgot to reinstate it.

I can switch it back on, but it distorts the panel. At least it's working 🤣

[2022-08-01 15:29] IanMayo commented on #1706
Helle @lebaphi
I've changed the TypeScript definition for a ChatChannel, and updated the UI to render messages accordingly.

![image](https://user-images.githubusercontent.com/1108513/182184854-5686432e-0212-4711-8214-eacc1e3cd9bb.png)

We just need to add a "Configuration" box at the top of the `setting-channels` admin page for chat channels, please.  This will be like the one for `mapping`, but

[2022-08-02 13:09] IanMayo opened #1712 "Planning routes allows travelling in reverse"
We use a route-finding mechanism to determine which points are achievable once the turning circles have been blocked out.

But, the algorithm is returning points that are directly astern of the current location. If the turn is long enough, a player should be able to travel around the turning circle and end up behind where he was, but the asset should not be able to do an instantaneous 180 degree t

[2022-08-02 14:17] IanMayo commented on #1712
Fixed in this commit:
https://github.com/serge-web/serge/commit/80dda4ea3c684fcd94c24edbe96aafb7809c7dfa

[2022-08-02 14:17] #1712 closed, assigned to IanMayo

[2022-08-03 10:07] #1703 closed, assigned to lebaphi

[2022-08-04 12:51] IanMayo commented on #983
Builds working reliably.

[2022-08-04 12:51] #983 closed, assigned to lebaphi

[2022-08-04 12:52] IanMayo commented on #868
Done.

[2022-08-04 12:52] #868 closed, assigned to lebaphi

[2022-08-04 12:53] IanMayo opened #1716 "Extend player-activity tracking with messages-read (including markers)"
The clients want to start tracking when players have read messages, for analysis once a game is complete.

We currently have "player activity" - where Serge remembers the most recent interaction, and sends that to the server every 20 seconds.

We store the most recent event for each player on the server, in the `playerLog`.

I'd like to keep a persistent record of player interactions, but without

[2022-08-04 13:06] IanMayo commented on #1180
We have some build issues related to this issue. The Serge version number is in multiple locations in the repo, and our release process doesn't include a step to increment the build version.

I'm going to re-assign it to @lilitkarapetyan , since she has more familiarity with the repo build structure.

[2022-08-04 13:08] IanMayo commented on #1699
With hindsight, I think the issue here was that client was stopping listening.  It seems ok now.

[2022-08-04 13:08] #1699 closed, assigned to lilitkarapetyan

[2022-08-04 13:32] IanMayo opened #1717 "Use icon-cache to reduce downloads"
For the mapping we download quite a lot of icons.

We sometimes download the same icon multiple times, for use in multiple components. I _think_  leaflet also reloads them separately.

I _think_ we also reload the icons on some refresh/redraw events.

_Maybe_ use existing code like [this](https://paco.me/writing/svg-caching-with-use)

Note: for this P9 wargame, the icons are all SVG - that's just

[2022-08-04 13:40] IanMayo commented on #1686
Fixed in #1715 , tip for better solution in #1717

[2022-08-04 13:40] #1686 closed, assigned to lilitkarapetyan

[2022-08-04 14:01] IanMayo opened #1718 "Player can't edit attributes"
In the WATU-Playtest wargame, there are some editable attributes on the blue platforms.

They're set to be edited by the player.

But, they aren't editable, they're locked :-(

Note: haven't been able to reproduce this. We do appear to have an issue (#1728) with z-index of the popup combo-box on the modal attribute editor.

[2022-08-04 14:17] IanMayo opened #1719 "Don't push lat-lngs into Wargame on update"
In the client we store/cache the LatLng for h3 cell references - for performance reasons.  This data is stored in the wargame component. One instance of this is for planned routes.

But, when the planned route is submitted, and the wargame updated, we shouldn't let the lat/lngs got into the wargame. They're quite verbose, and consume a lot of space.

I _think_ there's a clever TypeScript trick to

[2022-08-04 15:47] IanMayo opened #1720 "Move back to monolith"
Early in the project lifetime we moved from a monolith to a mono-repo

But, except for the (very-small) server-side component it really is just one app.    It is also built, distributed, and run as one app.

We should consider returning to a monolith repo.

### Pros
- It would avoid the multiple version numbers spread across the repo
- simpler build process
- simpler architecture

### Cons
- could

[2022-08-04 15:55] IanMayo opened #1721 "Refactor Channels Admin page (modularize)"
The Channels Admin Page code is quite complex, since it contains custom editors for different types of channel.

We should _modularise_ it - by pulling custom implementations into their own file.

The benefit of this, is that only files with code for the particular channel type would be edited in one PR, and it makes the file(s) easier to understand.

_Ideally_ we would define an interface that ch

[2022-08-04 16:16] IanMayo opened #1722 "Check we're displaying the ASDIC orientation data"
I haven't seen the ASDIC orientation marker recently.

Check we're rendering it.

[2022-08-04 16:47] IanMayo opened #1723 "Need to edit Asset Orientation in Platform Types admin page."
In a platform-type definition, the Game Designer can add Orientation Data.

We need UX elements to edit these types:

![image](https://user-images.githubusercontent.com/1108513/182905940-749ea1d9-0b4e-47e6-9fd0-3a72db260ea1.png)

We'll have to offer an (optional) drop down of current numeric attributes for the asset type.

Ok, this needs some business analysis, just to document what the Game Admin

[2022-08-04 17:45] IanMayo opened #1724 "Forces component needs to line-wrap"
The below is from this Story: http://localhost:6611/?path=/story/local-mapping-playtest--natural-earth&args=forces[1].assets[1].position:pending

![image](https://user-images.githubusercontent.com/1108513/182914205-ebc742e4-82e9-4f5f-bf20-30f3f7ceae03.png)

Aah, the issue is present in the `story` for `Forces` too.

[2022-08-04 17:47] IanMayo opened #1725 "Amend game data to let blue and green know `id` of friendly forces"
We've filled in the `perceptions` for blue and green forces.

They know the force and type for friendly assets - but we should give them the proper name, too.

[2022-08-04 18:02] IanMayo opened #1727 "Introduce forward & after torpedoes"
In our test data we just have count of torpedoes for asset.

We need to introduce forward and aft torpedoes, set to 4 and 1 respectively.

[2022-08-04 18:08] IanMayo opened #1728 "Possible issue with z-order for `<Select/>` control in Attribute Editor"
I'm in this game:
http://localhost:3000/?wargame=wargame-l63jlces&access=rl650chc3

I click on `R1` asset, and plan turn form opens.  I can then click on `Edit attributes`.  If I try to change `Depth` I don't see the values presented.  But, the direction of the triangle does change - so I think the items are visible, but beneath the popup.

![screencast](https://i.gyazo.com/b6c40368128bca1fa925924

[2022-08-05 07:39] #1722 closed, assigned to IanMayo

[2022-08-05 11:05] IanMayo opened #1730 "Show planned routes for selected platform."
We typically only display just one turn of planned routes.

But, when we're planning the route for an asset - we should see the whole planned route.   It currently leaves a gap.

So, we should show the whole planned route for the selected asset,

[2022-08-05 12:04] IanMayo opened #1731 "Re-introduce unit tests for `package/client`"
I was going to fix an issue in a message handler - to ensure an unnecessary (but bulky) data object gets skipped.

So, I started by extending the existing unit test, to fail when the bulky object was present.

I tried to run the test, but running the test failed.

So, the build needs to be fixed so that we have a working `yarn unit:test` in `packages/client`.

[2022-08-05 12:12] IanMayo opened #1733 "Don't store all cells in planned route"
When the player plans a route, we store every cells passed through along the route.

This was a workaround, since sometimes the route planned didn't pass through the same cells as the H3 algorithm to connect cells.

An alternate mechanism would be to only store every cell if the route between start/end DOESN'T match the one generated by H3 for the same start/end point.

[2022-08-05 15:29] #1725 closed, assigned to IanMayo

[2022-08-05 15:29] #1730 closed, assigned to IanMayo

[2022-08-05 15:52] #1718 closed, assigned to nobody

[2022-08-05 16:50] #1719 closed, assigned to IanMayo

[2022-08-05 16:50] #1727 closed, assigned to IanMayo

[2022-08-05 20:02] IanMayo opened #1735 "Crash while changing platform visibility"
I was giving a demo on `serge-review`.

I was logged in as Game Umpire, in `WATU Playtest`

I clicked on a blue vessel, and wanted to make it visible to Red in the Perception form.

Blue-screen of death.  Error: Cannot read properties of undefined (reading 'includes')

**Suspicion** issue may be in the updated `<Forces/>` component.

[2022-08-06 03:50] lebaphi commented on #1728
It seems I can not find this game in develop latest code @IanMayo

[2022-08-06 09:54] IanMayo commented on #1728
Hmm, it is in the game folder:
![image](https://user-images.githubusercontent.com/1108513/183243916-89126c4c-1e48-476e-81aa-e9b9c88a15b1.png)

I did try to reproduce it from `storybook`, but the z-order for the `select` box works ok there:
![screencast](https://i.gyazo.com/91d8a24fc4946c46674220482f54caaa.gif)

(but - the z-order of the `Attributes Editor` is broken in storybook 🤣 )

[2022-08-07 11:07] #1706 closed, assigned to IanMayo, lebaphi

[2022-08-07 11:14] lebaphi commented on #1728
okay, I will take care of it 🤣

[2022-08-07 11:31] #1724 closed, assigned to lebaphi

[2022-08-07 15:22] #1728 closed, assigned to lebaphi

[2022-08-08 11:08] #1735 closed, assigned to IanMayo

[2022-08-08 15:33] #1696 closed, assigned to lebaphi

[2022-08-09 12:16] IanMayo opened #1741 "After declutter, ensure route lines end with asset (or turn marker) location"
Currently, turn markers and routes are being de-cluttered:
![image](https://user-images.githubusercontent.com/1108513/183644577-bf20ec02-3952-4c28-a629-bd2793566a13.png)

In the above image, the history-origin and planned-route origin get de-cluttered with the asset icon, with the result that there are 3 decluttered entities in one cell.

Where the entities relate to one asset (via uniqid) they sh

[2022-08-09 13:28] IanMayo opened #1742 "Don't show ASDIC direction for assets player doesn't control"
While I'm playing as Game Control, I'm viewing the map as a red player would:
![image](https://user-images.githubusercontent.com/1108513/183658974-bd19de8f-5079-442b-a5bb-c7d956ea8db0.png)

As a red player I should not know the orientation data for assets I don't control.  In the above example REd would not know which direction the ASDIC is facing in.

[2022-08-09 16:22] IanMayo opened #1743 "Allow Game Designer to set/update Perception of one asset by a force"
Players have perceptions of assets on other forces.

So, for each asset, Serge has a list of perceptions:
![image](https://user-images.githubusercontent.com/1108513/183704552-5d28f598-d00a-4555-a4b6-59e7505ed0ab.png)

Each entry is how another force perceives this asset.  The perception, may just be that there is "something" in a particular cell - so it's shown as a Grey Question-Mark. If force is

[2022-08-10 07:53] IanMayo commented on #1705
Fixed.

[2022-08-10 07:53] #1705 closed, assigned to IanMayo

[2022-08-10 07:55] IanMayo commented on #1582
Another option is to adopt a Leaflet clustering plugin, such as qCluster

[2022-08-10 10:59] #1742 closed, assigned to IanMayo

[2022-08-10 11:22] IanMayo opened #1745 "B. Create data types for Planning Channel"
Create early data-types necessary for the Planning Channel.

To include:
- new type for channel and participants `CHANNEL_PLANNING, PARTICIPANT_PLANNING, ChannelPlanning, ParticipantPlanning`
- new `MessagePlanning` (to include optional start and end dates)
- some participants to include templates
- some participants to include response template
- don't let Admin tab fall over with channel-not-rec

[2022-08-10 11:39] IanMayo opened #1747 "A. Create Support Panel"
Create child component that extends the mock `ChannelPlanning` developed in #1745 with following properties:
- Has tabs (similar to WorldState panel)
- Just have single "mock" tab to start with
- Occupies full height of page
- Drag bar to change width
- Clicking on tab collapses panel
- Has these props:
    - player role
    - player force
    - messages for this channel
    - current `forces` fro

[2022-08-10 11:43] IanMayo opened #1748 "C. Create orders component"
Use table component to display list of messages.  A _placeholder_ for this has been created as `Planning-Messages-List`.

Suggest this component: https://github.com/mbrn/material-table

Props (all from state):
* channel id (to be used when sending new message)
* messages for this channel (duh)
* player role (to be used when sending new message)
* player force (to filter messages)
* isUmpire (if tr

[2022-08-10 11:51] IanMayo opened #1749 "D. Create PlanningAssets component"
Create a component that shows a table of assets.

A `renderer` method (passed in as prop) will take an `Asset` object and return a `string[]` of table cells.

Props (all from state):
* ForceData[] (source data)
* PlayerForce - display data for that force
* isUmpire - if true, included drop-down for umpire to choose `view-as` force

The component should receive a `forces` object, `player-force` val

[2022-08-11 11:32] #1745 closed, assigned to IanMayo

[2022-08-11 12:58] #1741 closed, assigned to IanMayo

[2022-08-11 14:28] IanMayo opened #1753 "Plan Turn Form - editing attributes for future state"
We've got SSK depth represented as an attribute.

![image](https://user-images.githubusercontent.com/1108513/184156981-7ef4c948-1dec-4b20-aa44-14e00bef9a39.png)

But, attributes only relate to the present.  When we're planning actions, it's "State" that we set for the future.

So, for SSK I think we should use "State" values of:
- Deep transit
- Deep evade
- PD search
- PD evade
- PD Launch weapon

[2022-08-11 14:54] IanMayo opened #1754 "Neater handling of database not found"
I'm running Serge with a CouchDB server Docker instance.

I forgot to start CouchDb first, and got this error:
![image](https://user-images.githubusercontent.com/1108513/184163253-2b21c789-f07a-4d8b-86e0-1d740f30c623.png)

Since this is so easy to do, we should trap that error and give a nice polite warning of what has happened.

[2022-08-11 16:31] IanMayo opened #1755 "Switch WATU to 1941"

[2022-08-12 10:31] IanMayo opened #1757 "Contents of Chat message being written get lost on changing tab"
I'm writing a chat message. I switched tab to the mapping tab, then back to chat - and my text had disappeared!

Hmm, I guess that the event that triggered the "wipe" shouldn't cause a refresh.

I don't think there's an easy solution.   12 months ago we worked hard on performance with channels that have lots of messages - so we don't render channels that aren't visible.

Before we did that, I gues

[2022-08-12 10:44] IanMayo opened #1758 "Introduce non-mobile "stationary" Status for SSK"
Deep Stationary
PD Stationary

[2022-08-12 10:50] IanMayo opened #1759 "Per-force intentions channel"
Need to capture general intent of each player - such wait deep for convoy to pass over.

One channel per player/force - umpire acts as observer for these channls

[2022-08-12 10:52] IanMayo opened #1760 "Plan turn broken"
Planning turns is broken - we don't get the region of accessible locations.

It works on the `ts-fixes` branch from 7 days ago. The issue _may_ be related to the fix for green assets not having history.

[2022-08-12 11:28] IanMayo opened #1761 "RT and WT channels"
Radio-telegraphy:  encoded - only accessible to blue
Wireless-telegraphy: plain language

[2022-08-12 11:31] IanMayo opened #1762 "Compass rose"
Add compass-rose

Possible solution here: https://stackoverflow.com/questions/22325460/how-can-i-add-a-north-arrow-to-a-leaflet-js-map

[2022-08-12 11:34] IanMayo opened #1763 "Ability to turn off cell labels"
Turning off cell labels would declutter route

Add a new style for no-label shown

[2022-08-12 11:38] IanMayo opened #1764 "Alternate highlighting for own force"
With 5 blue forces it's different to see which is own force

Use some highlighting to indicate own forces

[2022-08-12 11:41] IanMayo opened #1765 "Close button on "Clear from turn xx" pushes player back to home page"
The click handler for the "x" at the top-right triggers a `#close` bookmark redirect, which takes the player back to the home screen.

![image](https://user-images.githubusercontent.com/1108513/184346873-79607462-2018-465f-bba8-1741172041f0.png)

[2022-08-12 11:44] IanMayo opened #1766 "Plan route isn't taking new speed"
Mark is planning turn for blue force.

He was a 9kts.  He switched to 6kts, then "Plan turn".  It still wanted to offer 9 kts.

[2022-08-12 11:59] IanMayo opened #1767 "Need one HQ channel per force"
We need "B1 intent", "B2 intent", etc.

[2022-08-12 12:00] IanMayo opened #1768 "Handle missing logo more tidily"
Force logo is missing, and game is showing "jpeg missing" logo.

Handle missing logo more tidily.

**Ian: provide steps to reproduce, then assign**

[2022-08-12 12:10] IanMayo opened #1769 "B1 orders ignored"
Mark created orders for his assets, and submitted them.

When he went into adjudication, but the new routes weren't there - they were still the original ones.

The other player's new routes were present.  Did Mark fail to click "Submit Routes"?

Issue happens on Mark's PC for other assets.   Mark was able to submit adjudication.  Seems sensitive to Mark's laptop: UNC3019

Ok.  We shouldn't have "C

[2022-08-12 12:12] IanMayo opened #1770 "In-game section has scroll bar in Microsoft Edge"
A number of players only have Microsoft Edge

Their map panel has a scroll bar, since about 10% isn't visible. When they scroll down the Scale Bar isn't visible.

[2022-08-12 12:20] IanMayo opened #1771 "Improve world-state descriptions"
In World-State panel, there's an unnecessary "immobile" label.

"B1 - 3 turns planned immobile".  The label should probably indicate whether route has been provided.

[2022-08-12 12:23] IanMayo opened #1772 "Formatting on immediate next turn"
We're in adjudication. We're looking at a Blue asset.  It has a number of planned turns.  The immediate next turn should be rendered in a different way - such as long dashes.

[2022-08-12 12:25] IanMayo opened #1773 "Adjudication panel sits over World State"
We're in adjudication.   The umpire is changing selected Asset.  The "Adjudicate Turn" panel is open.  It obscures some assets, so they can't be selected.  The assets would be visible if "Adjudicate turn" wasn't open.

[2022-08-12 12:30] IanMayo opened #1774 "Duplicate marker would be useful"
Umpire is adding a number of Info Markers, to give rough area of target(s).  There's a fair amount of re-typing.

It would be quicker if Info Marker had "Duplicate" button.  The button should put a copy of the marker in the same cell - the umpire can then move the duplicate to the new location.

[2022-08-12 12:36] IanMayo opened #1775 "Marker icons moved on "Accept all routes""
Umpire created some markers, and gave them a radius, and moved them.

On "Accept all routes" the marker icons moved - though the turn radiuses stayed in the same place.

On "Next turn" - the icons went to the correct place.  The marker icon may be cache-ing the wrong (original) location.

I repeated this.  I created a new marker. While its editor form was still open, I gave it a radius, and dragge

[2022-08-12 12:37] IanMayo opened #1776 "Can't delete Info Marker"
An umpire deleted an Information Marker.

On the next turn, the information marker was still there.

Note: this happens in the adjudication stage. I _think_ it's the act of accepting some route(s) that clears the info marker update.

Note: I also added a marker, and it was lost on next turn.

This issue is challenging to reproduce.

[2022-08-12 13:03] IanMayo opened #1777 "Only show one step of history for other forces"
Players currently see full history for all visible contacts.

If a player sees a target at two locations he doesn't know if its one or two targets.  But, if full history is shown, he can see it's one platform that moved.

Change rendering so that only one step of history is shown for assets of other forces.

[2022-08-12 13:08] IanMayo opened #1778 "Ditch planned routes in WATU wargame"
Delete the planned routes for the playtest wargame.

[2022-08-12 16:16] #1769 closed, assigned to IanMayo

[2022-08-12 16:16] #1765 closed, assigned to IanMayo

[2022-08-12 17:48] #1760 closed, assigned to IanMayo

[2022-08-12 18:31] #1753 closed, assigned to nobody

[2022-08-16 07:13] lebaphi commented on #1747
Hi @IanMayo @ShendMikullovci , do we have a mockup for the tab content?

[2022-08-16 14:58] IanMayo commented on #1747
No @lebaphi .  We're waiting to get more from the users - it could be a couple of weeks.  But, I'll try to mock data for now.

This component is just the "container" - it's the 3 children (two tables and a tree-table (#1748 and #1749) that I'll need to learn more about, and/or mock up.

[2022-08-16 15:33] ShendMikullovci commented on #1582
![Leaflet](https://user-images.githubusercontent.com/85491794/184919728-c23768d8-1c5d-44a8-9d1f-e0ed3a3cb1d4.png)

Something like this?

[2022-08-16 16:06] ShendMikullovci commented on #1709
Hi Ian!

Nicely spotted! I'm afraid adding this new parameter breaks the integrity of the set up we came up with. I came up with some new looks that make more sense:

![Time Remaining](https://user-images.githubusercontent.com/85491794/184926119-4e7466c1-df49-4200-8287-e2fcd3d73a5a.png)

On frame 10 (left), I kept the blue box we have, while rearranging the elements inside. Here, we have Labels on

[2022-08-16 17:08] #1721 closed, assigned to lebaphi

[2022-08-18 04:24] lebaphi commented on #1748
Hi @IanMayo , should I work on this ticket now or wait for the mockup to be available?

[2022-08-18 06:59] IanMayo commented on #1748
let's get started please. The columns are just a detail, let's learn about integrating the table component.

[2022-08-18 13:51] #1747 closed, assigned to lebaphi

[2022-08-26 13:55] lebaphi commented on #1749
Hi @IanMayo

<img width="395" alt="image" src="https://user-images.githubusercontent.com/26705621/186919225-70f01727-d8be-4370-b2e0-ca61bf59c44a.png">

This is an asset in the P9 mock data, so how do you think we will process data in render function? which fields to be displayed in the table?

[2022-08-26 14:02] IanMayo commented on #1749
Let's show these columns, please:
- ID (Contact Id)
- Name
- Condition
- Status
- Platform-Type

[2022-08-29 11:52] IanMayo commented on #1653
Done.  @lebaphi has successfully introduced the `material-table` component.

[2022-08-29 11:52] #1653 closed, assigned to lilitkarapetyan

[2022-08-30 13:16] IanMayo opened #1787 "Refactor NewMessage to be component based"
We currently only use `<NewMessage/>` from the `client` package, where it is stored.

But, I need to access it from the `components` package. So, we should refactor it to match the structure of our `components`, and create a story/spec to test it.

If possible, we should refactor `MessageCreator` to the new `Component` model at the same time.

It looks like both elements are already TypeScript, we

[2022-08-31 13:45] IanMayo commented on #1709
Thanks for that @ShendMikullovci .

Let's go for Frame 10 (left), since the dark block of blue pulls all this "overview" information together.

It will also re-arrange neatly in scenarios where we aren't showing "time remaining".

I'd like you to add it to your list of jobs, please @lebaphi

[2022-08-31 17:42] ShendMikullovci opened #1790 "Numeric Attribute Value Issue"
Hi everyone!

I encountered this issue while trying to change the default value to a numeric attribute:

https://user-images.githubusercontent.com/85491794/187743953-f31deb5b-9b0b-4f73-8aba-f1c7feccbab3.mp4

As you can see, clicking on the value and typing the number doesn't replace the default 0 and hitting backspace doesn't delete the default 0 either. The only way to delete the 0 is by selectin

[2022-08-31 17:46] ShendMikullovci opened #1791 "States info window bug"
Small bug in the states info window:

![Info window text bug](https://user-images.githubusercontent.com/85491794/187745131-4921b12a-0e23-4c7a-a63f-70af7bf7df98.png)

The whole word "planned" should either go down a line or stay up.

[2022-08-31 17:54] ShendMikullovci opened #1793 "Enum Attribute Info Window"
Do you guys think it's necessary to add an example parenthesis to the enum value info window, similar to the format info window for numeric attributes? Like this:

![values for attribute](https://user-images.githubusercontent.com/85491794/187746606-9427b47d-2fd0-4d8c-bc95-e9ab8de4218a.png)

[2022-08-31 18:07] ShendMikullovci opened #1794 "Weird message in the channels tab/admin page"
Do you guys recognize this? :

![Message in Channels Tab](https://user-images.githubusercontent.com/85491794/187748945-5507ef9d-e5cf-4809-949c-8a72d8fc8393.png)

[2022-08-31 18:14] ShendMikullovci opened #1795 "Configuration Option Interferes with Channel Label"
https://user-images.githubusercontent.com/85491794/187749960-4e10e7f0-c4bc-4a42-b3f4-c957d63a3e97.mp4

Clicking on Hide Message Authors seems to reset the label of the chat channel.

[2022-08-31 18:16] ShendMikullovci commented on #1795
This seems to occur while you are editing the channel attributes before saving. Adding forces to the Participants and Messages also has this effect. Saving at the end doesn't bring back the input label, forcing the user to name the channel again.

[2022-08-31 18:23] ShendMikullovci commented on #1795
There seems to be a larger pattern of interferences and bugs related to this button:

https://user-images.githubusercontent.com/85491794/187751625-56ddf2b2-18c0-4b2a-b561-f9183018f2ae.mp4

It involves disappearing channels and renamed channels, especially when a channel is duplicated.

[2022-08-31 18:24] ShendMikullovci commented on #1795
Also, side question: Is the display of a little messed up because I'm playing an older version again? Or has something budged?

[2022-08-31 18:31] ShendMikullovci commented on #1795
Uploading abd48680-1325-4cc2-bd1c-8e5e4f453b4a.mp4…

Another bug where the Hide Message Authors button appears either clicked or unclicked for both Visible and Hidden channels.

[2022-08-31 18:38] ShendMikullovci opened #1796 "Asset Control Issue"
I was asked to specify asset control in the Mapping channel for the first default force, but wasn't asked for the forces that I added myself:

https://user-images.githubusercontent.com/85491794/187754516-b79c7037-005a-40c0-bc41-dd46e689c80c.mp4

When I tried to give control to all roles, it wouldn't let me:

https://user-images.githubusercontent.com/85491794/187754316-77799194-4ae8-4731-a5dc-7ad29

[2022-08-31 18:44] ShendMikullovci commented on #1796
Specifying one role doesn't seem to work either:

https://user-images.githubusercontent.com/85491794/187756927-38f64cdf-c5c7-4e3c-8683-8bc4951dca12.mp4

[2022-08-31 18:52] ShendMikullovci opened #1797 "Save Channel Bug"
Saving the Mapping (or any other channel) seems to redirect to the top channel on the list, with its label shown on the list and in the window. The Mapping channel content remains however:

https://user-images.githubusercontent.com/85491794/187759546-49ac823a-b75a-4431-a52b-3632ef82b5f2.mp4

[2022-08-31 19:00] ShendMikullovci opened #1798 "Permissions Issues"
There seems to be a few small bugs with the permissions in the collab editing channel:

https://user-images.githubusercontent.com/85491794/187760803-ddba80d1-6386-42b5-9445-6531352a89a9.mp4

The roles tab seems to be inconsistent in its functioning. The toggles also seem to be tied into it, with them "activating" the roles tab as well as them disabling when a new force is added while they were bei

[2022-08-31 19:08] ShendMikullovci commented on #1798
P.S. Game crashed as I was adding the 2nd force:

![Blue screen](https://user-images.githubusercontent.com/85491794/187762363-817da2f8-09c1-4c21-985f-c99ffea3084b.png)

Refer to #1433 for other recorded instances.

[2022-08-31 19:22] ShendMikullovci opened #1799 "Notification Counter On Own Messages"
The notification counter shouldn't be activated by one's own messages, only other's:

![Notification Counter](https://user-images.githubusercontent.com/85491794/187764698-93510051-7f86-403f-b4e1-6f6c9385ba8f.png)

[2022-08-31 19:26] ShendMikullovci opened #1800 "Compiled Assets UI"
We had a similar issue with annotation markers (#1582), but I see that we need to apply the same solution to compiled assets as well:

![Compiled Platforms](https://user-images.githubusercontent.com/85491794/187765441-eb5a470c-63a6-4d70-abf6-9afb4fe6e2b4.png)

[2022-08-31 20:16] ShendMikullovci opened #1801 "Submit New State Notification"
After submitting a new state, I got a notification on the mapping channel tab:

![Submit State Notification](https://user-images.githubusercontent.com/85491794/187773750-4fae288a-a9c4-4dc8-87fa-076bead5282d.png)

What does this notification mean?

[2022-08-31 20:25] ShendMikullovci opened #1802 "Unable to move asset in the map"
Can't seem to be able to plan out moves for the assets with any force. The bottom left panel won't appear when clicking on asset either:

![SEA CO](https://user-images.githubusercontent.com/85491794/187775226-def13bbe-6666-4075-b53c-d9b66bba716e.png)

[2022-08-31 20:28] ShendMikullovci opened #1803 "Asset Panel Redesign"
Our current design of the asset panel in the map hasn't been updated to the color codes and general design feel we're going for. Here's how a new version could look:

![Bottom Left Tab Redesign](https://user-images.githubusercontent.com/85491794/187775901-04f1fae5-78da-4886-a267-d7c13b79bc4e.png)

[2022-08-31 20:39] ShendMikullovci opened #1804 "Message order bug"
It seems older messages are being put below recent ones, when it should be the opposite:

![Message Order](https://user-images.githubusercontent.com/85491794/187777501-27e1c19f-99b1-4d66-aaab-0d4c7d3bc914.png)

[2022-09-01 16:27] #1749 closed, assigned to lebaphi

[2022-09-01 16:29] IanMayo opened #1809 "View icons in assets panel"
I've merged the `assets` PR.

The code in this PR collates the data ready for the icon to be displayed:
![image](https://user-images.githubusercontent.com/1108513/187965330-0f70a80d-58aa-4019-b580-7d60cfd3d095.png)

I believe we can now change the `renderer` for the `icon` column so that we display an `asset-icon`:

![image](https://user-images.githubusercontent.com/1108513/187965658-0a1f86fd-f0e0

[2022-09-01 16:58] IanMayo opened #1810 "Support detail for orders panel"
The `Orders` documents can be quite complex.  While we display a summary for the table view, players need to be able to expand the item to view all of the detail.

So, we need to use the `detailPanel` capability of `material table`.  Once we've got the detail to display some plain old message fields, we'll move onto using `JSON-Editor` to render the detail.

Hmm, there's a chance the JSON-configur

[2022-09-01 17:07] IanMayo opened #1811 "Map placeholder in background of support panel"
Eventually the `PlanningChannel` will have a `LeafletJS` map in the background.

But, that's not until the next phase.

So, for now we should just put a static image on the background, so we can start learning about it:
![map image](https://upload.wikimedia.org/wikipedia/commons/0/0e/Europe_countries_map_en_2.png)

Aaah, could we have a copy of that image on our repo?  It will be useful to demonst

[2022-09-01 17:40] #1748 closed, assigned to lebaphi

[2022-09-02 08:40] IanMayo commented on #1767
It looks like Mark has done this

[2022-09-02 08:40] #1767 closed, assigned to IanMayo

[2022-09-02 08:47] IanMayo opened #1813 "Don't store `selectedXXX` to database on admin-page save"
In the UI, Serge remembers the selected force, selected channel & selected platform-type

But, when we store a wargame to database, we should strip out these items - they aren't used when a wargame is loaded.

[2022-09-02 08:51] IanMayo opened #1814 "Turn Markers missing from Chat Channel"
This game is on Turn 6, and I believe the message were sent across multiple turns.

So, there should be turn markers in the channel.
![image](https://user-images.githubusercontent.com/1108513/188102439-8cd736be-fad3-4143-bb0e-5a0ff70edd4b.png)

[2022-09-02 11:35] IanMayo opened #1816 "Improve rendering of `Planning Assets` component."
I have one issue with the `PlanningAssets` component. If we put a debug line in getRows() we see it gets called repeatedly as the Support Panel is resized.

We have already wrapped getColumns and getRows in useState. I tried switching to useMemo, but it didn't help. I also tried creating playerForceState and forcesState objects - and only running an update if the new value was different to them. B

[2022-09-02 11:41] #1809 closed, assigned to lebaphi

[2022-09-02 12:19] IanMayo commented on #1776
Possibly related to #1775

[2022-09-02 14:21] #1776 closed, assigned to IanMayo

[2022-09-02 14:22] IanMayo commented on #1759
I think Mark has done this by hand.

[2022-09-02 14:22] #1759 closed, assigned to IanMayo

[2022-09-02 14:43] #1763 closed, assigned to IanMayo

[2022-09-02 16:10] IanMayo commented on #1775
Fixed in #1776

[2022-09-02 16:10] #1775 closed, assigned to IanMayo

[2022-09-02 16:17] IanMayo commented on #1761
I think Mark made these changes.

[2022-09-02 16:17] #1761 closed, assigned to IanMayo

[2022-09-02 16:18] IanMayo commented on #1778
I think Mark did this for the play-test

[2022-09-02 16:18] #1778 closed, assigned to nobody

[2022-09-02 16:30] #1766 closed, assigned to IanMayo

[2022-09-04 09:52] #1816 closed, assigned to lebaphi

[2022-09-05 13:23] #1811 closed, assigned to lebaphi

[2022-09-07 10:04] #1716 closed, assigned to lilitkarapetyan

[2022-09-07 10:15] IanMayo opened #1823 "New backend URL to just provide most recent activity"
Our backend provides the `logs` end-point for a wargame:
![image](https://user-images.githubusercontent.com/1108513/188853154-6a547d55-35d8-4808-9a07-8e8a8a3c70f3.png)

It return _all_ the player activity for that wargame - which is used by scientists to analyse Serge usage.

This end-point is also used by the `PlayerLog` modal window, to show current/recent player activity.  To do this, it downlo

[2022-09-07 14:54] ShendMikullovci opened #1824 "Notification Counters for Channels"
Hello everyone!

I was wondering when and how do notification counters disappear from the channel tabs in-game? Clicking on the tabs doesn't do the trick:

[5ded5262-3085-4a05-b4de-61b4a00bc023.webm](https://user-images.githubusercontent.com/85491794/188909524-e4b8f8ee-23b4-4cc1-ac90-27be6db8d3ce.webm)

Once the user sees the message, the notification is no longer useful. I suggest we either add m

[2022-09-07 15:00] IanMayo commented on #1824
We may be missing some mark as read/mark as unread functionality.  For channels with templates, new messages are shown collapsed by default.  So, the user physically expands them, and then we treat that message as read.  But, for chat channels, we don't have the concept of "read".  _Maybe_ we need it.   In the past, players do seem to have made use of marking a message as "unread" as a way of keep

[2022-09-07 15:14] ShendMikullovci opened #1825 "Annotation Marker Irregularity"
I've noticed a couple of irregularities with annotation markers that are very hard to reproduce.

1.  Sometimes, I can't pin a marker to the page for some reason. Hitting on save after filling out the data doesn't post the marker.
2.  Sometimes the marker is pinned, but disappears after I switch tabs and I don't find it there when I get back to the map.
3.  Sometimes the marker changes icon on its

[2022-09-07 15:22] #1709 closed, assigned to lebaphi, ShendMikullovci

[2022-09-07 15:40] ShendMikullovci commented on #1824
Here's a potential look:

[568c8042-9e67-4abb-b3e2-9f82491e69e9.webm](https://user-images.githubusercontent.com/85491794/188920606-b6265ef5-f79f-4919-a4a2-d010a74e3182.webm)

[2022-09-07 17:38] #1810 closed, assigned to lebaphi

[2022-09-07 17:48] IanMayo commented on #1654
Hmm, I'm tempted to try to remove some of these interactions - particularly maximise.

[2022-09-08 08:31] IanMayo commented on #1470
Hmm, I wonder if this is causing other knock-on issues. We have issues related to updating objects in the admin pages. _Maybe_ it's because we're editing an object in the `selectedXXX` entity, rather than the real one.  If we switch to storing the `uniqid` in the `selectedXXX` field, this will remove the chance of that happening.

[2022-09-08 08:40] IanMayo commented on #1824
Yes, that works.  I _guess_ the icon could go inside the message block, since its part of the message.  I also _guess_ we could do with a "mark all as read" button at the top.

But, what do we do about the initial "read" state.  Are new chat messages marked as "Read" or "Unread".  My first thought is that they would be "REad", since the player can see them.  But, if we treat "Read" as "Acknowledge

[2022-09-08 08:44] IanMayo commented on #1813
Related to #1470

[2022-09-08 08:47] IanMayo commented on #1804
We should be consistent across the assorted types of channel (chat, custom, admin and feedback).

I can't remember which "standard" we agreed upon. We seem to have the GMAil model - where newest is at the top, or Instant-Messaging model, where newest are at the bottom.  Do you remember our previous decisions on this @ShendMikullovci ?

[2022-09-08 08:49] IanMayo commented on #1803
This largely seems cosmetic. Let's sweep it up if we are doing other `Adjudication form` modifications.

[2022-09-08 08:51] IanMayo commented on #1802
We'll need something more reproducible, please @ShendMikullovci

That could be steps within an existing wargame (easiest to reproduce) or the steps to create the simplest wargame that experiences this issue.

[2022-09-08 08:52] IanMayo commented on #1801
Correct.  We should remove the message counter from the Mapping tab.

Maybe we need a _model_ for channels to indicate if they should have a message-read counter or not.

[2022-09-08 08:53] IanMayo commented on #1800
Close. Related to #1852

[2022-09-08 08:53] #1800 closed, assigned to nobody

[2022-09-08 08:53] IanMayo commented on #1799
Yes, I agree.  We should only count unread messages if they are from other authors.

[2022-09-08 08:56] IanMayo commented on #1798
Thanks @ShendMikullovci - could you have a go at capturing the text in the console for the above blue-screen issue?

(as Phi said - it's F12 (maybe with Fn key pressed if necessary), then the contents of the `Console` tab.

[2022-09-08 09:15] IanMayo commented on #1794
Sure. For some old wargames, we defined the channel in a way we don't now.  It's not worth maintaining the admin pages for these old wargames - so we don't.

But, I'll improve the message to include a more detailed explanation of why we aren't providing an editor.

Aah, hold on @ShendMikullovci - are you able to produce steps to reproduce this issue please?

[2022-09-08 11:18] IanMayo commented on #1794
Ok, sorted it. We now give better messaging for unrecognised channels.
Select the `Blue Planning` channel here:
https://serge-review.herokuapp.com/storybook/?path=/story/local-organisms-settingchannels--with-planning

[2022-09-08 11:18] #1794 closed, assigned to IanMayo

[2022-09-08 11:50] IanMayo commented on #1791
Hello @lebaphi - are you able to modify our `MoreInfo` component so that the text content wraps nicely please?

[2022-09-08 11:53] IanMayo commented on #1790
This is a niche part of the app, just used by the Game Designer.  The above behaviour is to ensure we always have a default value.  I think we can let it slip.

[2022-09-08 11:53] #1790 closed, assigned to nobody

[2022-09-08 12:01] IanMayo commented on #1743
@ShendMikullovci - could you have a think about this please?

This is to allow the `Game Designer` to control how forces perceive assets from other forces.   Essentially, this would just happen in the game-design phase.  In the above design I describe a table to edit the other force perceptions of an asset. But, we do have an existing popup form that does the job.

![image](https://user-images.git

[2022-09-08 12:07] IanMayo commented on #1682
Conversations with the clients have moved this issue on a long way . I have another meeting tomorrow, from which I hope to offer more firm requirements.

I propose we consider the new UX for those requirements in a new issue. Closing this one.

[2022-09-08 12:08] #1682 closed, assigned to nobody

[2022-09-08 12:14] IanMayo commented on #1688
Hello @ShendMikullovci - could you have another go at reproducing this please?  I've been using `exit wargame` lots of times in recent weeks, without any problem.

[2022-09-08 12:15] IanMayo commented on #1693
Waiting on more test data to do this.

[2022-09-08 12:54] IanMayo commented on #1804
Closing. We covered this here:
#1663

[2022-09-08 12:54] #1804 closed, assigned to nobody

[2022-09-08 13:36] #1793 closed, assigned to IanMayo

[2022-09-08 16:24] lebaphi commented on #1791
sure @IanMayo

[2022-09-08 17:50] IanMayo commented on #1234
Thi is done.

[2022-09-08 17:50] #1234 closed, assigned to IanMayo

[2022-09-08 20:17] ShendMikullovci commented on #1804
So, we're good with _New Messages_ at the _Bottom_?

[2022-09-08 20:19] ShendMikullovci commented on #1688
Seems to have been resolved. I'll let you guys know if it happens again.

[2022-09-08 20:19] #1688 closed, assigned to nobody

[2022-09-08 20:25] ShendMikullovci commented on #1743
I think it does the job. Couple of things we shouldn't forget:

1. Save button in light blue.
2. Cancel button in gray
3. The clouds are a little too dim. We usually use soft grayed blue like this one:

![Panel](https://user-images.githubusercontent.com/85491794/189218868-406e8635-5612-4674-80c2-3bacccb3f042.png)

[2022-09-08 20:29] ShendMikullovci commented on #1794
Still appears:

![Weird message 2](https://user-images.githubusercontent.com/85491794/189219716-c1fac40c-ec3f-4f3d-98f5-4a3f4a7176ea.png)

[2022-09-08 20:35] ShendMikullovci commented on #1800
1852 doesn't exist?

[2022-09-08 20:51] ShendMikullovci commented on #1802
So this turns out to be an issue for new wargames (Test Wargame, in this example).
However, I can't reproduce because I can't add the assets to the mapping channel:

[5f961f40-6e5d-47a2-89b2-7ab30fb06816.webm](https://user-images.githubusercontent.com/85491794/189223387-4540ce80-b767-468d-9a6c-79145195d2a4.webm)

It seems like there's a problem with editing the channel. I can only add a role throu

[2022-09-09 09:08] IanMayo commented on #1804
@ShendMikullovci - it had to be one or the other 😉

As stated above, we have to follow either the email model (new at top) or the instant messenger model (new at bottom).  Serge channels are closer to the instant messenger experience than the email one.

Unless you have any other perspective/thoughts...

[2022-09-09 09:10] IanMayo commented on #1743
Thanks @ShendMikullovci

But, we do have a choice of whether to use a table, or this dedicated editor.  Since we'll be displaying all the perceptions anyway (to allow the Game Designer to review them), it seems simple enough to make the table editable (like all those other tables in the admin pages).

[2022-09-09 09:31] lilitkarapetyan commented on #1757
Hi Ian, I write a chat message, then go to the mapping tab, go back to chat, the text doesn't disappear for me.

[2022-09-09 09:32] lilitkarapetyan commented on #1757
You get that  error every time you come back from mapping ?

[2022-09-09 09:32] IanMayo commented on #1757
Ok. Will write steps to reproduce.

[2022-09-09 09:33] IanMayo opened #1829 "Issue with chat channel rendering"
The `ChatChannel` componnent is used to display both `chat` channels and `custom` channels (the ones with templates).

I'm logged into `Papa Foxtrot` as `White - Peoples`, and I have `Red & SME` open.  I see a flicker when a message is sent into Game Admin.  I've investigated.

The  `ChatChannel` renders twice.  For a `Chat` channel, the first set of messages is in the wrong order.

So, we could t

[2022-09-09 09:34] lilitkarapetyan commented on #1757
Ok thank you.

[2022-09-09 09:50] IanMayo commented on #1757
![Screencast](https://i.gyazo.com/1d24c3d294b57cc853f665cbb72b4771.gif)

[2022-09-09 10:14] lilitkarapetyan commented on #1757
Thanks, I will investigate it.

[2022-09-09 10:16] IanMayo commented on #1800
Oops, #1582 - as you indicated at start.

[2022-09-09 10:17] IanMayo commented on #1802
Sure - will look at this - starting with the Game Admin issue.

[2022-09-09 10:18] IanMayo commented on #1794
Ok.  Once change #1830 is merged we'll give more diagnostics. That should explain why the chat channel isn't being rendered - we'll need a new screenshot showing the new diagnostic text, please @ShendMikullovci

[2022-09-09 10:30] #1598 closed, assigned to IanMayo

[2022-09-09 10:30] #1663 closed, assigned to IanMayo

[2022-09-09 10:30] #1799 closed, assigned to nobody

[2022-09-09 10:30] #1814 closed, assigned to IanMayo

[2022-09-09 17:36] IanMayo commented on #1802
Aah, the issue is with the earlier two forces.  It's them that have `all roles` controlling an asset.  Will improve error messaging.

[2022-09-09 18:04] IanMayo commented on #1802
Ok @ShendMikullovci . Found (and fixed) the error in specifying who can control assets.  It was mistakenly throwing an error when one `role` was specified.  The review versions on Heroku should be ready soon. Done!

[2022-09-09 20:34] ShendMikullovci commented on #1802
I guess I'm not doing it right then. For some reason, I can't move them around during either phase. Could you show me how you do it?

[2022-09-09 20:39] ShendMikullovci commented on #1598
The message issue is still relevant:

[e1e122e8-a0ca-4643-abbd-96ad97708cb8.webm](https://user-images.githubusercontent.com/85491794/189439252-f9145565-e791-4def-9b94-c510b0bcb52f.webm)

[2022-09-09 20:43] ShendMikullovci commented on #1582
The advantage of this design is that color and size would combine to show number of assets and clutter size. The disadvantage would be that we already have quite a little bit of color on the map, so we'd have to adapt. What do you think @IanMayo ?

[2022-09-09 21:09] ShendMikullovci commented on #1743
My bad, I missed the part you said you wanted it in the admin pages. Have you considered adding it to the actual platform page? Something like this:

![Platform Perception](https://user-images.githubusercontent.com/85491794/189446110-2b4e7f65-cd08-414d-b460-e41888beb7ff.png)

[2022-09-09 21:10] ShendMikullovci commented on #1804
I'm good with new at bottom, since I do agree that the channels are closer to messenger experience.

[2022-09-10 08:46] #1791 closed, assigned to lebaphi

[2022-09-10 21:37] ShendMikullovci commented on #1791
Thanks @lebaphi !

[2022-09-11 15:46] #1795 closed, assigned to lebaphi

[2022-09-12 10:32] IanMayo opened #1838 "Unusual behaviour with single channel"
With a blank wargame, or if we delete all channels, when we create the first channel it isn't selected, and clicking on it has no effect.

It's only when a second channel is added that either can be selected.

Also no: when we have channels, and the final one is deleted, the detail panel for that channel is still shown.

[screencast](https://i.gyazo.com/f7d19fa967869a5d806d9f08f64ba33a.mp4)

[2022-09-12 12:22] lebaphi commented on #1838
Hi @IanMayo, it seems that we can't reproduce it, I get the latest develop, build and run it on an incognito browser, you can see it in this video

https://user-images.githubusercontent.com/26705621/189651978-71b1c16e-ba60-4aa3-a233-261436a25468.mov

[2022-09-12 12:28] IanMayo commented on #1838
That looks like good news :-)

Maybe I need to update `develop`.

[2022-09-12 12:58] IanMayo commented on #1838
Yes, working perfectly @lebaphi :-)

[2022-09-12 12:58] #1838 closed, assigned to lebaphi

[2022-09-12 16:58] IanMayo commented on #1802
Here is a working mapping component:
https://serge-review.herokuapp.com/storybook/?path=/story/local-mapping-smallscale--natural-earth&args=phase:planning;infoMarkers[0].position.lat:50.23249506295051;infoMarkers[0].position.lng:-19.528946616760432;infoMarkers[1].position.lat:50.24310600328171;infoMarkers[1].position.lng:-19.467288440193588;infoMarkers[2].position.lat:50.24692461728551;infoMarkers

[2022-09-13 09:49] #1787 closed, assigned to lebaphi

[2022-09-13 10:10] #1823 closed, assigned to lilitkarapetyan

[2022-09-13 10:56] IanMayo commented on #1687
Aah, I've found an example of just rounding one half of the messages.  This is how Signal displays messages:
![image](https://user-images.githubusercontent.com/1108513/189883809-f5dfa9cc-af17-4be0-856b-f72aa5d5e1c5.png)

[2022-09-13 11:00] IanMayo opened #1841 "Table improvements"
We still don't have business requirements for the `SupportPanel`.

Instead, I'd like us to carry on with technical features.
* [ ] remove pagination
* [ ] The `map` will show the assets currently shown in the `my assets` table.  So, we need a `listener` for the table that gets called with a list of `uniqid`s for the  currently visible assets in the table. (in the future we'll do the same for `orde

[2022-09-13 11:00] IanMayo commented on #1796
Aah, the PR does actually fix this.

[2022-09-13 11:00] #1796 closed, assigned to lebaphi

[2022-09-13 11:06] IanMayo commented on #1743
Hello @ShendMikullovci - no, we can't put this into `platform-types`.   That is where "types" of platform are created, such as `fishing vessel` or `submarine`.  The perceptions relate to an `actual instance` of the fishing vessel or submarine.  So, it relates to a specific asset within a force.

I now the space seems constrained, but the implementation has to go in the right-hand column of this pa

[2022-09-13 11:14] IanMayo opened #1842 "New data changes for P9"
As we further develop the `SupportPanel`, we need to make some data changes.

* [x] Introduce `owner` for an asset, it will take a `role['uniqid']` value.  This allows players to focus on assets they own.  In a subsequent development phase we _could_ consider switch mapping "asset control" to reflect this issue, rather than the "controls" value in the `mapping` channel type.  But, we'd still need

[2022-09-13 12:38] IanMayo commented on #1798
Lowering the priority on this. We don't have any expected/planned use of the COA Status Board component.

[2022-09-13 12:51] #1829 closed, assigned to lilitkarapetyan

[2022-09-13 13:04] IanMayo commented on #1797
Closing this @ShendMikullovci  .  Recent updates appear to have fixed this.

[2022-09-13 13:04] #1797 closed, assigned to nobody

[2022-09-13 15:18] #1772 closed, assigned to IanMayo

[2022-09-13 17:56] #1777 closed, assigned to IanMayo

[2022-09-14 08:47] IanMayo opened #1848 "Limit number of hexes"
We get a `call stack exceeded` when we have too many hex cells.

Do some trials to determine the maximum number, and prevent that being exceeded.

Potentially also show some message on the map when this happens.  Hmm, it could even be a popup - since the problem shouldn't get as far as users.

Hmm, it may even be possible to determine this when the `constraints` are edited in the admin page.

[2022-09-14 09:12] #1774 closed, assigned to IanMayo

[2022-09-14 16:31] #1771 closed, assigned to IanMayo

[2022-09-15 08:32] #1848 closed, assigned to IanMayo

[2022-09-15 17:24] #1841 closed, assigned to lebaphi

[2022-09-16 16:06] IanMayo opened #1855 "Support Panel - create new orders"
The Support Panel has an orders tab:
![image](https://user-images.githubusercontent.com/1108513/190681556-8e6e3470-d758-4eaf-b450-648648a62d26.png)

The tab currently shows a list of templates for that set of orders.  We should allow players to create new orders.  The "New orders" will be shown as a drop-down list, that the user clicks to indicate what type of document to create. ( Hopefully we ca

[2022-09-17 03:26] lebaphi commented on #1855
it would be good if we place this component at the bottom of the support panel (in Order tab) ? @IanMayo

[2022-09-17 06:22] IanMayo commented on #1855
Thanks for that @lebaphi

If NewMessage needs those props in order to send messages (with all the correct metadata), then I think we have to provide those props.

I'll try to have a look at the code this morning, and give you an answer.

[2022-09-17 06:23] IanMayo commented on #1855
Yes, at the bottom of the Orders tab in support.  We do have something similar at the bottom of the `CollabStatusPanel` - but I don't know if that allows multiple templates.

[2022-09-20 09:08] IanMayo opened #1858 "Config file to run & debug Serge from VS-Code"
I've just read an article that demonstrates how to debug a node-js app from within VS-Code:
https://dev.to/profydev/how-to-debug-react-apps-with-vs-code-boost-your-debugging-productivity-1k05

I've run debuggers for other languages (Java esp), and enjoyed viewing variables and setting breakpoints.

Hmm, but the article seems to expect a monolith repo - with all code in one folder - but we have a m

[2022-09-20 16:11] #1855 closed, assigned to lebaphi

[2022-09-20 18:18] IanMayo opened #1859 "Introduce LeafletJS map in background of Support Panel"
Now that we've got assets in the Support Panel, and we're letting users filter them, we should start displaying them on a map.

The map will replace the static image.  It will use the `leaflet` map that we already for the `mapping` channel.  See the `mapping` component.  We won't be re-using the `mapping` component, because it contains lots of complexity - and we don't need all that functionality

[2022-09-21 08:05] IanMayo opened #1860 "Need a cancel button for Chat Messages"
We now temporarily store (cache) the contents of messages that are being edited.

![image](https://user-images.githubusercontent.com/1108513/191449477-5652e571-2c53-4284-8fdc-8055092267be.png)

Now, when we refresh the browser, the Chat Message will keep any draft content.  But, if I change my mind about creating the chat message, I have to manually select-all in the public/private text boxes, and

[2022-09-21 11:24] IanMayo commented on #949
Done.

[2022-09-21 11:24] #949 closed, assigned to IanMayo

[2022-09-21 11:37] IanMayo opened #1861 "Show assets on map"
Our SupportPanel includes `ownForces` and `opForces` listings.   These contain a list of our own assets, and assets from other forces that we are aware of (or all for umpires).

We should create a `<PlanningAssets>` component that can render an array of assets.  It will put them onto a `LayerGroup` component (like we do with `<Assets>` ).

Note: I suggest that in `Phase 1` we display the raw icons

[2022-09-21 11:56] IanMayo opened #1862 "Provide drawing tools for new orders"
In the `Planning Channel`, players will trigger the creation of some `Orders` objects by selecting the type of new orders, then be lead through drawing a feature on the map.  Once the feature has been drawn the relevant `Orders` template will open, with the spatial data filled.

We'll use `leaflet.draw` for this feature.

For this we'll need these capabilities:
1. Leaflet map, with toolbar
2. Popu

[2022-09-21 11:59] IanMayo opened #1863 "Map display of `Orders`"
Many `Orders` will include a spatial component. This will be a GeoJSON object of type `point`, `polyline` or `polygon`.  We will display shapes/features for these on the map.

So, we will create a `PlanningOrders` component that displays the currently filtered set of orders as shapes.  The component will display the data in a new `LayerGroup`.  The shapes will have an outline color according the c

[2022-09-21 15:49] IanMayo opened #1864 "Consistent use of `id` for template/message-type"
For messages, the details.messageType indicates which template is to be used to edit that message.

But, we appear to have some inconsistent use.  We should switch `messageType` to `templateId` and check we use the template id values in all data/code.

[2022-09-22 10:30] IanMayo opened #1867 "Use <JsonEditor> in <MessageCreator>"
I've modified `<JsonEditor>` to allow external modules to modify the template.  This allows, for example, the dropdown list of assets in a form to be created from the actual assets in the game.

But, `<MessageCreator>` uses it's own `new JSONEditor()` code to create the editor control.

We should switch this class to use `<JsonEditor>` instead.

Note: when we do this, we will need to modify `<Json

[2022-09-22 11:01] IanMayo opened #1868 "Show all icons/orders for Umpire forces"
We need special display modes for the Support Panel for umpire forces.

When we have our `toolbar` for the `SupportMapping`, it should have `View as` icons.

When `view as` is `umpire`, then the tabs should display all forces, and all orders, with a `Force` column (and drop-down filter).

When `view as` is a force, then the tabs should be viewed as they would for that force, without a `Force` colu

[2022-09-22 15:42] ShendMikullovci commented on #1860
Hi Ian! Yes, a cancel feature does sound beneficial now. I think it would be a little messy to have the button near the Send icon. But we could use an X button instead:

![Chat X Feature](https://user-images.githubusercontent.com/85491794/191791882-51bbfe8e-63e3-4330-8bdd-d1e78fb8273b.png)

[2022-09-22 15:45] ShendMikullovci commented on #1801
Test Wargame still has the notification:

![Mapping notification](https://user-images.githubusercontent.com/85491794/191792674-992abac9-862e-46d0-830a-21663e4e6c74.png)

[2022-09-22 16:02] IanMayo commented on #1860
Sure, ok.  Let's add it to the list of jobs for @lebaphi

[2022-09-22 16:13] IanMayo commented on #1801
Thanks @ShendMikullovci .  I've tried a few wargames on `serge-review`, and none of them show the unread message count for `Mapping channel`:
![image](https://user-images.githubusercontent.com/1108513/191798576-cbbaf0d3-51b5-4f7b-87f9-480b52dc6b70.png)

Could you give me some specific steps to reproduce what you saw please ? (URL of Serge instance in use, name of wargame, role logged in as).

[2022-09-22 16:31] ShendMikullovci opened #1871 "Delete Permission Bug"
Hi everyone!

It seems the delete permission feature isn't working very efficiently:

[7f1708cb-069c-4ca9-a353-8bc3f2061f2a.webm](https://user-images.githubusercontent.com/85491794/191802225-cf4519b2-51c1-47a9-a987-49d4e6cc2d9d.webm)

This was after I deleted 5 - 6 other permissions, and the feature started malfunctioning.

[2022-09-22 16:33] IanMayo commented on #1871
Sure, thanks for spotting it @ShendMikullovci .  Assigned to @lilitkarapetyan

[2022-09-22 17:56] ShendMikullovci commented on #1743
In that case, I suggest we use it on the right-hand column you suggested. The list of assets can be narrower, but it contains quite a bit of information that is crucial to the gameplay, so I'd say let's avoid cluttering that page further.

Here's how our column could look:

![Perceptions idea](https://user-images.githubusercontent.com/85491794/191817458-6393e491-c9b8-4141-82f1-d31024807fdb.png)

N

[2022-09-23 08:46] IanMayo commented on #1743
Thanks @ShendMikullovci .  Each force will have its own perception of this asset.  So, `red` may think it's a `green`-`fishing boat`, but blue may think it's a `red`-`spy ship`.  The table I offered in the original description _seems_ the only way to represent this.

Hmm, dropping the `chips` for the atttributes hasn't gained space - the new version takes up more space.  Moving the editable versio

[2022-09-23 13:28] #1859 closed, assigned to lebaphi

[2022-09-24 09:24] IanMayo commented on #1860
Hello @ShendMikullovci - we have a working version of this here: https://serge-1860-cancel-butto-ua8zpm.herokuapp.com/?wargame=wargame-kskl1i3t&access=pkskl17ti

(see `White Chat` channel`).

In a chat channel - the `new message` component is always present, they don't collapse.  When playing with it, the `X` _feels_ like it should close/collapse the new message panel. Well, that's the standard pu

[2022-09-24 12:24] #1842 closed, assigned to IanMayo

[2022-09-24 16:17] IanMayo opened #1876 "Adjudication Panel steps"
* [x] Map should show filtered assets, not all.  One per `PlanningForce` object
* [x] SupportPanel should separate out `OpForces` and `OwnForces`
* [ ] PlanningAssets should not be separating out forces. It should just get a full list of relevant assets (own or op)
* [x] Filters for orders
* [x] Boolean knows ID for `ISR Outcome`
* [x] MapControl - don't show features if handlers not provided
* [x

[2022-09-24 16:25] IanMayo commented on #1861
Phase 1 - (markers) done.

Now for Phase 2 (proper icons) @lebaphi  :-)

[2022-09-24 16:27] IanMayo opened #1877 "Add 'Home' button to SupportMapping control bar - which restores to original bounds."
Users in the `SupportMapping` map panel need a button to zoom out to the full map extent.

That's the original `bounds` that gets passed in at the start.

We can _probably_ copy the implementation we used for the original `Mapping` component:
![image](https://user-images.githubusercontent.com/1108513/192108725-20c69526-7c4b-438c-8be9-72e13d45ac06.png)

Hmm, we can _probably_ re-use the `MapControl

[2022-09-25 13:39] #1877 closed, assigned to IanMayo

[2022-09-25 19:09] #1868 closed, assigned to IanMayo

[2022-09-26 10:58] #1861 closed, assigned to lebaphi

[2022-09-26 15:57] IanMayo opened #1885 "Selecting multiple assets on tables"
For some interactions (Orders), players will assign multiple assets, either to conduct the attack, or as targets of the attack.  They currently do this via drop-downs on the form.

Instead, they could select the assets from the table, then trigger the `New Orders` process.

To do this, we need to switch from `single selected item` to an array of items.

The map renderer will switch to checking if

[2022-09-26 16:03] IanMayo opened #1886 "Select assets from the map"
We can currently only select assets from the table.

Players should be able to select assets from the map, too.

Note: currently the `Own Assets` and `OpFor Assets` tables are multi-select.

We should support this on the map, via the `ctrl` key.  So, if the player clicks on an asset - it should become the new single selected item.  If they hold down the `ctrl` key, the asset should be added to the

[2022-09-26 16:06] IanMayo opened #1887 "Make selected item(s) stand out more"
When an item is selected, we render it in a circular icon, and provide a white border.

This isn't clear enough to the analysts that saw it today.

Could we experiment with a solid black border?

[2022-09-26 16:21] IanMayo opened #1888 "Support Panel has to share horizontal space with leaflet map"
Currently the `SupportPanel` sits above the map.

When we select an asset, leaflet `flies` us to the asset, putting in the centre of the screen.

But, when the support panel is extended past 1/2 way over the map, this puts the selected asset _underneath_ the support panel - and it can't be seen.

There may be a number of solutions to this, but I'd like us to start off by experimenting with sitting

[2022-09-26 16:54] IanMayo opened #1889 "Show highlights for "Orders" geometries"
We're not rendering orders yet.  We will do, in #1889

Once we are - then when the player selects the "Orders" in "My Orders" or "Adjudication" - then we should highlight the geometries that represent that orders object.

Here is a library that may help:
https://github.com/FacilMap/Leaflet.HighlightableLayers

[2022-09-26 17:03] IanMayo opened #1890 "Mark transit routes with arrows"
One day ( #1863 )  players will add lines to mark transit routes in orders.  But - the direction isn't clear:
![image](https://user-images.githubusercontent.com/1108513/192337254-1cc95f2e-dbf8-41b5-bd5b-be05719b2529.png)

[This](https://github.com/bbecquet/Leaflet.PolylineDecorator) library can decorate lines with icons or arrows:

![image](https://user-images.githubusercontent.com/1108513/1923373

[2022-09-26 17:10] IanMayo opened #1891 "Display geometry name on transit lines"
One day, players will be able to create `Orders`.

For some sets of orders, polylines will be used for multiple geometries, such as `Route-in` and `Route-back`.  When this happens, the map will be more legible if we put the names of the geometries onto them, using a library like this:
https://github.com/makinacorpus/Leaflet.TextPath

![image](https://user-images.githubusercontent.com/1108513/19233

[2022-09-26 17:42] IanMayo commented on #1887
I've made a PR #1887 to make a slight improvement to this, but this is much better:
https://github.com/mapshakers/leaflet-icon-pulse

![pulse](https://user-images.githubusercontent.com/1108513/192344853-97330b49-9ef5-4bde-b80d-ee7028d76420.gif)

Note: _hopefully_ we'll configure the pulsing icon to only show the pulse - not the central icon.

I _guess_ we'll modify `PlanningForce` to have two mark

[2022-09-26 17:47] IanMayo opened #1893 "On a new turn, slide assets from their old location to their new location"
This plugin animates markers from an old location to a new one:
https://gitlab.com/IvanSanchez/Leaflet.Marker.SlideTo

This _could_ be useful at the start of a new turn.

[2022-09-26 18:01] IanMayo opened #1894 "Display mouse coordinates in view"
Frequently I have to check the location of objects on the screen.

This would be easier if I could see the `live` mouse coordinates.

This plugin would allow that: http://mrmufflon.github.io/Leaflet.Coordinates/

[2022-09-26 18:07] IanMayo opened #1895 "Cascading menu to trigger creation of new orders"
@IanMayo has produced the list of activities, now we need to create the menu.

Ok. The data is in there for the PlanningChannel story (#1907). `MapControl` is receiving the `actionItems` data (a tree of menu items).  We just need to make the menu popup, and pass the values to the `actionCallback` callback:
![image](https://user-images.githubusercontent.com/1108513/193230644-2ad11691-045f-4e7b-b596

[2022-09-26 18:11] IanMayo opened #1896 "Alternate SupportPanel parent?"
Here is a sliding panel that seems to integrate well with LeafletJS
https://turbo87.github.io/sidebar-v2/examples/

We could consider adopting it as the parent for our `SupportPanel`.

Hmm, it doesn't currently allow drag-to-resize. We probably need that :-(

[2022-09-26 18:33] IanMayo opened #1897 "Switch use of square vs round"
On our map, the default mode for shapes is square.  On the tabs, the default mode is round.  We should be consistent:
![image](https://user-images.githubusercontent.com/1108513/192353515-2cbed1ba-68c8-4671-9c52-7360b9f623cd.png)

So, let's use `round` for default, and `square` for selected.  It would be good to use this `square` format for icons on the tables too, if it's not too difficult (with t

[2022-09-27 08:13] IanMayo opened #1898 "Display geometry name on polygons"
For a selected set of orders [*], we should display the "geometry name" in the polygon, or next to the marker point.

[*] we don't have orders yet

[2022-09-27 11:09] lebaphi commented on #1886
for this requirement I update it with a different approach: click on the asset -> mark it selected, click it again -> deselect it. I think this way of working will be more convenient for users, just click instead of holding the ctrl key @IanMayo

[2022-09-27 11:45] IanMayo commented on #1886
That's completely fine, let's give it a go :-)

[2022-09-27 11:45] #1886 closed, assigned to lebaphi

[2022-09-27 12:40] IanMayo opened #1900 "Generate mock "activities" dataset"
Generate a body of fake "activities" objects, with these requirements:
* [ ] top-level grouping of "Maritime", "Land", "Air", "Other"
* [ ] Each activity will include:
   * [ ] name of activity
   * [ ] list of geometries (geometry-name, domain-name)
   * [ ] template to open on completion
   * [ ] color for activity [**icon?**]

Suspect we can have these sample permutations:
1. [polyline, polygon

[2022-09-27 12:49] IanMayo opened #1901 "High level "Orders" operations"
Consider actions that could apply to high level orders.

Only the order author (or Game Admin) can make changes,  Players will provide a comment explaining the change. The data will stay "live" in the database.

Potential changes in planning:
* Delete
* Move back in time by sub-turn

Potential changes in adjudication:
* Cancel (other activities prevented it happening)
* Delete (duplicate)

[2022-09-27 13:42] ShendMikullovci commented on #1860
Good point. The benefit of having the X is that it stands outside of the messag field, allowing for enough functional space for the arrow. In its stead, we could play around with these ideas:

![Eraser Outside](https://user-images.githubusercontent.com/85491794/192540918-62916095-97ab-4dbc-af92-35e97c9c22f5.png)

Eraser icon. Feels somewhat out of place. Like you said, we're used to having buttons

[2022-09-27 13:44] IanMayo commented on #1860
The big solid red trash can looks really clear to me:
![image](https://user-images.githubusercontent.com/1108513/192543276-7b9bc0aa-1df1-48bf-b260-9b4862d5321d.png)

[2022-09-27 13:46] ShendMikullovci commented on #1687
Yes, exactly! Side curvature adds another grouping factor on top of color and side of display, further emphasizing to whom the messages belong.

[2022-09-27 13:47] ShendMikullovci commented on #1860
If you think it'll look clear to the players, let's go for it.

[2022-09-27 13:55] ShendMikullovci commented on #1743
Hmmm... Maybe since we have two variables (perception _and_ perceiver), we should filter through perceiver first. We could use your first example:

But instead have the user select each Force in a drop down list (like for "Perceived Type") to view how every Force perceives it?

Problem with this is that it would add steps (each Force would have to be looked at individually...).

[2022-09-27 14:40] IanMayo commented on #1743
There are 4 variables (we may even be about to move to 5):
* who is perceiving it
* what force they think it is
* what platform-type they think it is
* what they think it's called (either the real name, or the contact Id (`C234`)

The new one for this wargame is:
* what condition they think it is (working, disabled, destroyed)

For the current wargame there's lots of blowing stuff up.  Sometimes p

[2022-09-28 16:40] IanMayo commented on #1860
Ok @ShendMikullovci - there is a playable version here: https://serge-sql.herokuapp.com/?wargame=wargame-kqgy546g&access=rkrlw6f5f. (look in a chat channel)

[2022-09-28 17:13] IanMayo commented on #365
Superceded by H3

[2022-09-28 17:13] #365 closed, assigned to IanMayo

[2022-09-28 17:13] IanMayo commented on #20
Close, OBE.

[2022-09-28 17:13] #20 closed

[2022-09-28 23:18] ShendMikullovci commented on #1743
In that case, let's move ahead with the dropdown table for now.

[2022-09-28 23:23] ShendMikullovci opened #1902 "Message Box Highlight & Dimming"
Hi everyone!

I noticed we show the input boxes for chat channels in bright white, that dim down upon hovering and typing:

![Message Box 1](https://user-images.githubusercontent.com/85491794/192905327-7dc66029-4ea1-42d0-a0a2-6d1a5bafe1ed.png)

![Message Box 2](https://user-images.githubusercontent.com/85491794/192905339-013f033d-8bf1-415d-b5d0-4b6068608c66.png)

I suggest we do the contrary: we s

[2022-09-29 08:14] IanMayo commented on #1743
Ok devs. Let's use this as an opportunity to use a `primereact` data table:

https://primefaces.org/primereact/datatable/

[2022-09-29 08:23] IanMayo commented on #1902
Yes @ShendMikullovci - I spotted this too, yesterday.  Good suggestion.

[2022-09-29 10:20] IanMayo opened #1904 "View Gantt chart of Orders"
Users will benefit from a Gantt view of Orders (and possibly Assets)

Here is a react wrapper for a good-looking Gantt chart:
https://github.com/mohammed-io/frappe-gantt-react

But, it doesn't support "Trees" of activities. Work with the users to get the business requirements for the Gantt, then implement it.

[2022-09-29 10:57] ShendMikullovci commented on #1860
Unfortunately, I came across a UX issue with the design already...

I was trying to test the feature and accidentally hit send instead of delete message. I realized the buttons may be too close together. Furthermore, we're used to the send button being on the right hand side of the message box, so introducing another button on the right hand side automatically makes them compete between one anothe

[2022-09-29 11:30] IanMayo commented on #1860
Thanks @ShendMikullovci.  I think the last one has the best UX.  The trash icon is next to the content that is about to be trashed, and the blue background behind the `Send` button suggests it is operating on "another level".

[2022-09-29 15:02] #1900 closed, assigned to IanMayo

[2022-09-29 15:44] IanMayo opened #1906 "Cluster map marker icons"
We're expecting lots of asset icons in the game.

We may need to cluster them.

This looks like the most active `react` clustering library:
https://www.npmjs.com/package/react-leaflet-cluster

I don't have much experience in Leaflet clustering, so part of this is for @lilitkarapetyan  to explore what is possible, and if necessary, offer options for how clustering is implemented.

I _expect_ this w

[2022-09-30 08:55] IanMayo commented on #1885
Done.

[2022-09-30 08:55] #1885 closed, assigned to lebaphi

[2022-09-30 09:06] IanMayo opened #1910 "Adopt MapContainer"
We're currently creating the map using `react-leaflet` `Map` control.  But, if we use `MapContainer` then we will be able to use `useMap()` hook in child components.

Plus, if we pass `children` into the map control using props, then we can create functionality outside the map container class.

So, step-1 is to switch `SupportMapping` to use `MapContainer`.

Step-2 is to move `SupportMapping` to `

[2022-09-30 09:22] #1887 closed, assigned to lebaphi

[2022-09-30 12:06] #1897 closed, assigned to lebaphi

[2022-09-30 15:55] IanMayo opened #1912 "Refactor view-as into its own component"
We should extend `MapControl` so that it takes children

Then, refactor the `view as` functionality into its own control, that returns a block of items (one per force).  In the future, this can be extended to use a popup menu when there are lots of forces.

Other controls can be passed in, too (apply filters, new orders item)

![image](https://user-images.githubusercontent.com/1108513/193309689-b0

[2022-09-30 16:53] IanMayo opened #1914 "Refactor `mapping` controls out of `MapControl`"
The `MapControl` class still has loads of functionality that is specific to the `mapping` component.

Refactor the controls out - to leave it as thin as possible

**Update:** I've done this for `support-mapping`, I just need to do it for `mapping`.

[2022-10-01 04:28] lebaphi commented on #1910
Hi @IanMayo, currently we are using v2, and `MapContainer` is supported from leaflet v3 with many changes in interface, components. I tried install leaflet v3 and it seems we need to refactor quite a lot of legacy code.

Should we do this thing in this ticket?

[2022-10-01 06:15] #1888 closed, assigned to lebaphi

[2022-10-01 06:20] IanMayo commented on #1910
Leaflet has just moved to 1.9
![image](https://user-images.githubusercontent.com/1108513/193395645-246072c0-a424-42c9-8015-7ccf22765e6b.png)

Do you mean v3 of `react-leaflet`?

Hmm, how about this...

We adopt v3 (or even v4) for `SupportMapping` component - and leave `Mapping` running v2?  I can then come back and refactor `Mapping` to v3.

[This](https://stackoverflow.com/a/56495651/92441) seem

[2022-10-01 07:20] #1863 closed, assigned to lebaphi

[2022-10-01 07:20] #1912 closed, assigned to IanMayo

[2022-10-01 17:28] IanMayo opened #1916 "Introduce Jest code coverage"
It would be good to maintain a high level of Jest coverage, particularly for `packages/helpers`

Modify the Jest run to produce code coverage.

See if we can highlight drop in coverage in PRs.

[2022-10-02 05:14] lebaphi commented on #1910
Yes.

I will try with this approach

The last solution that we must do I think lol

[2022-10-04 09:34] IanMayo opened #1918 "Upgrade TS to 4.5"
We're using `react-leaflet`, but it is generating TypeScript errors like those reported here:
https://stackoverflow.com/questions/67552020/how-to-fix-error-failed-to-compile-node-modules-react-leaflet-core-esm-pat

It appears that `react-leaflet` is using a T/S "type specific import" construct that only arrived with TypeScript 4.4.

I tried upgrading the repo to that version, but Storybook broke (

[2022-10-04 09:50] IanMayo opened #1919 "Investigate browser performance with overlapping orders"
Clients are considering technologies for game adjudication.

The algorithmic challenge is in checking if lots and lots of shapes/polygons overlap with each other.

Do some trials of performance - to see what happens

[2022-10-08 08:23] #1910 closed, assigned to lebaphi

[2022-10-08 08:26] IanMayo commented on #1895
This is the next one for you, please @lebaphi

For the UX, we will just have a new button on the toolbar.  It will have the `file-plus` icon.  Clicking it will show a drop-down tree menu of the contents of the `actionItems` object.

[2022-10-08 15:33] lebaphi commented on #1890
<img width="163" alt="image" src="https://user-images.githubusercontent.com/26705621/194715368-f6b573c9-531f-4dda-8ceb-6341b6575f7f.png">

I wonder how to active this drawing tool @IanMayo ?

[2022-10-08 15:40] IanMayo commented on #1890
There isn't a drawing tool in Serge at the moment.  That will be one of your next tasks, as we integrate `leaflet-geoman`

[2022-10-08 15:41] lebaphi commented on #1890
okay, so I think we should complete this task first 😄

[2022-10-08 15:58] IanMayo commented on #1890
Yes. The top screenshot was taken using the GeoMan demo page.

If you can integrate the correct lib, and get a line on the map with arrows, I can integrate it with the relevant code.  I _Think_ that will be in plan mapping orders (or something like that).

[2022-10-10 10:33] #1757 closed, assigned to IanMayo, lilitkarapetyan

[2022-10-10 11:04] IanMayo commented on #1860
This is  done.

[2022-10-10 11:04] #1860 closed, assigned to lebaphi, ShendMikullovci

[2022-10-11 10:47] IanMayo commented on #1862
@lebaphi  is (almost) on top of integrating the drawing tools.

Here is the flow of how we show/manage the geometries as they are drawn.

![drawing flow](https://docs.google.com/drawings/d/e/2PACX-1vT1xB5kFxCRpIPACPRCyNt-X4eErND5DW5Fi2d0J4Ou-4uj_JztKoKXAr6-c9MihOsX9fJFBAM9Rjpf/pub?w=960&h=720)

[2022-10-12 08:07] #1862 closed, assigned to lebaphi

[2022-10-12 14:48] lebaphi commented on #1890
I think it done by #1862

[2022-10-12 14:54] #1890 closed, assigned to lebaphi

[2022-10-12 14:55] #1914 closed, assigned to IanMayo

[2022-10-12 17:04] IanMayo commented on #1895
Ok, @lebaphi - the data and control are ready for this.

My dodgy attempt (non-popup) is in `develop` in `NewOrderActions.tsx`.   You can view the control from this story: http://localhost:6611/?path=/story/local-organisms-planningchannel--default

[2022-10-13 07:06] IanMayo commented on #1895
This is the next one for you, please @lebaphi :-)

[2022-10-13 08:36] IanMayo commented on #1919
Still some edge cases to resolve (time aspect for polylines)

[2022-10-13 08:38] IanMayo commented on #1894
Done.

[2022-10-13 08:38] IanMayo commented on #1894
Still done.

[2022-10-13 08:38] #1894 closed, assigned to lebaphi

[2022-10-13 11:56] #1891 closed, assigned to lebaphi

[2022-10-13 11:59] lebaphi commented on #1918
I think it done @IanMayo

[2022-10-13 12:08] IanMayo commented on #1918
Yup:
![image](https://user-images.githubusercontent.com/1108513/195592046-0619860b-a672-4e68-8529-c33e4c5562f9.png)

[2022-10-13 12:08] #1918 closed, assigned to lebaphi

[2022-10-13 12:27] lebaphi commented on #1895
sure @IanMayo

[2022-10-14 15:03] IanMayo opened #1927 "Process for creating new adjudications"
This is the process for creating new interaction adjudications.

The interaction generator finds the next interaction.

Serge injects the new "interaction" into the planning channel, tagged for the current turn and owner.

Then, it injects the interaction id to the relevant sets of orders. marking details as "Being adjudicated by"  the current player, with status "Being adjudicated", and it pushes

[2022-10-15 18:09] IanMayo opened #1930 "Possibly upgrade Lerna"
Apparently `lerna` was declared as a `dead` app in Spring 2022.

But, it has been taken over my a new team, and had lots of updates - including a version that introduces parallel builds and cacheing build results.

The team offers free support and facilities for OSS projects (like Serge).

We should consider updating to the new version:
https://dev.to/nx/lerna-reborn-whats-new-in-v6-245j

[2022-10-16 15:05] #1895 closed, assigned to IanMayo, lebaphi

[2022-10-17 11:25] lebaphi commented on #1898
could you provide some screenshots on this task @IanMayo ?

[2022-10-17 14:39] IanMayo commented on #1898
The `Orders` objects aren't being rendered, so I have a PR in that makes them render:
![image](https://user-images.githubusercontent.com/1108513/196205592-64b6f3e0-2d3f-42cc-978a-db290b01b924.png)

The issue here is that I wish the name of the polygon to be permanently visible at it's centre.  This is like how we display the name of the activity for polylines.

Once the `render orders ` [PR](https

[2022-10-17 14:57] IanMayo opened #1933 "Issue - orders not getting down to `PlanningMessagesList`"
In the `SupportPanel` component, we have a child `PlanningMessagesList` - which will show the list of planning messages (orders).

But, that object is always empty.   This _may_ be related to the fact that we only render this table when the tab is active, but I _think_ it should receive the data when it gets rendered.

Clearly there is something about `state` that I don't understand :-)

This will

[2022-10-17 15:13] IanMayo opened #1934 "Change labels on GeoMan tooltip"
When we enter a GeoMan drawing mode, a tooltip guides the user in what to do (add line, add polygon point, etc): `Click to place first vertex`

But, we do have domain-specific terms for the geometry/feature that the user is adding, such as `Route-in` or `Target Area`.  In `OrderDrawing`, it's in the `current.name` field, as manipulated in the `currentGeometry` useState hood.

GeoMan does include s

[2022-10-18 08:21] IanMayo opened #1936 "Heroku build issue"
[this is to track the issue with the Heroku build]

## 09:00

We did have an intermittent Heroku build issue, where PRs occasionally failed to build. I was able to overcome it by closing/re-opening the PR.

But, it's not easy to do that in the `serge-review` or `serge-sql` persistent deployments.

The current state is that version of Serge on `serge-sql` is dated 12th October.  _Maybe_ that's the

[2022-10-18 09:51] #1936 closed, assigned to nobody

[2022-10-18 10:20] IanMayo opened #1938 "Create new orders once activity/geoms created"
Our order-creation process is growing.

The next step is to open the blank new order template in the `Orders` tab.

Here is what we have so far:
1. User selects own/opfor assets
2. User selects `new activity`
3. If necessary, user adds geometries
4. If geometries not required, or all geometries provided, open blank new message template

The `activity` contains details of what template it uses.

[2022-10-18 15:25] IanMayo opened #1940 "Fix to notifications plugin"
I wish to show user guidance when players are adding shapes using the "GeoMan" control.

I've found the [Leaflet.Notifications](https://gitlab.com/manuel.richter95/leaflet.notifications) plugin.

I've added it to `components\package.json`, and run `yarn install` in [this](https://github.com/serge-web/serge/pull/1939) PR.  But it fails at runtime, saying `L.control.notifications()` does not exist.

[2022-10-19 09:46] IanMayo opened #1943 "Don't offer an interaction if a related asset is already being adjudicated"
We have to be careful about how we generate interactions.

We shouldn't generate an interaction for an asset that is currently being adjudicated - since the results of that adjudication may affect this interaction.

So, when we generate the list of orders to consider, don't generate them for orders currently being adjudicated.

[2022-10-19 09:48] IanMayo opened #1944 "Introduce activity with two polygons"
Some activities may involve multiple polygons.

One example is Air Surveillance.  The aircraft may be flying in one box (over the sea), but searching a particular area (over land).

So, introduce activity that invites player to generate two polygons.

[2022-10-19 09:50] IanMayo opened #1945 "Demonstrator for pinging end-point for results"
For P9, the game facilitators wish to generate adjudication results using 3rd party software.

Mock this, to verify we can integrate it.

Do this by creating a new `node` end-point, and calling `get` on it.  The `get` should include the status of the interaction participants, and receive some suggested adjudication outcomes in response.

[2022-10-19 09:53] IanMayo opened #1946 "Improve icon for Cancel activity planning"
We should improve the Cancel button for activity planning.

[2022-10-19 11:03] IanMayo opened #1948 "Access templates by `_id`, not `title`"
We're currently trying to make the transition from referring to templates by `title` , to accessing them by `_id`.   This will allow game designers to change template title, without breaking configuration of channels.

Use TypeScript to verify we've made the change.

[2022-10-19 11:22] #1946 closed, assigned to IanMayo

[2022-10-21 16:14] #1944 closed, assigned to IanMayo

[2022-10-24 10:24] IanMayo opened #1954 "Missing marker for GeoMan"
When we place a marker using GeoMan, the leaflet marker icon is missing:

![screencast](https://i.gyazo.com/e524056ef31060379a91b2382f512f23.gif)

[2022-10-24 10:41] #1934 closed, assigned to lebaphi

[2022-10-24 11:08] #1898 closed, assigned to lebaphi

[2022-10-24 12:18] IanMayo opened #1955 "Tidy rendering of "special elements" in existing orders."
We have a _clash_ in our template editing in `My Orders` tab of the the new `Planning channel`:
1. We have designs for templates for the orders
2. Our `ChannelPlanning` data-type includes other data that we want/need for order planning, such as `location` and `start-finish` dates.  These may not be in the template

So, when JSON-Editor tries to display a set of orders, it has to _make-up_ the UI c

[2022-10-24 12:35] #1933 closed, assigned to lebaphi

[2022-10-24 12:59] IanMayo commented on #1867
Fixed in #1928

[2022-10-24 12:59] #1867 closed, assigned to lilitkarapetyan

[2022-10-24 13:38] IanMayo opened #1956 "User edit of existing orders (PlanningMessage items) in Planning Channel"
We're now displaying the list of `Order` objects in the `My Orders` tab of the `Planning Channel`.

We need to allow players to edit/save orders that they own (they are the `From` in the orders).

We're currently showing the orders using `JSONEditor`, but I think we need to switch to the expanded view using a custom rendering, with an edit button to go into JSON Editor.  More here: #1955

## Updat

[2022-10-24 13:49] IanMayo opened #1957 "Edit existing geometries"
While players can create geometries for orders using the new `Planning Channel`, they can't edit existing goemetries.

In the `My Orders` tab, for orders that are `from` the current role, we will allow the user to edit the geometries, for orders with geometries.

For this, we need to create a new `component` for `JSONEditor`, that swaps the `Location` text-field with a summary of the location data

[2022-10-24 17:57] IanMayo commented on #1955
Hello @lebaphi - I could do with some layout/presentation support, if/when you have time please.

I've done some early work to put the data into `<Card>` objects, but they aren't rendering very nicely.  Could you please have a look at the `OrderDetail` story in the branch for this PR (#1959) - and try to sort the `OrderDetail` component layout to be like the above mockup (forget the colors 🤣 ).  I